<ion-header>
  <ion-toolbar color="primary" style="border: 3px white solid; border-radius: 15px 15px 0 0;">
    <ion-grid fixed>

      <ion-row style="padding: 10px 10px; height: 80px;">

        <ion-col size="2" style="display: flex; padding: 0px 5px 0px 0px;">
          <ion-avatar style="--border-radius:20px; margin: 0 auto; border: 2px #ffffffc0 solid;">
            <img src="assets/icon/person.png" />
          </ion-avatar>
        </ion-col>

        <ion-col size="10" style="display: inline-flex;">
          <span style="display: inline-grid;">
            <ion-label style="font-size: 1.9rem; margin-bottom: 1rem;">CERTIFICADO DE SALUD EN EL TRABAJO</ion-label>
            <ion-label style="margin: auto 0px; text-overflow: ellipsis; white-space: nowrap;
                  overflow: hidden !important; font-size: 1.1rem; font-weight: 500;">
              {{aspirante.asp_nombre}}
            </ion-label>
          </span>
        </ion-col>
      </ion-row>


      <ion-row style="border-top: 2px #ffffff90 solid; margin-top: 5px; padding: 5px 1rem;">

        <ion-col size="6">
          <span style="display: inline-grid;">
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="business-outline"> </ion-icon>
              PROMINE
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="heart-circle"> </ion-icon>
              DEPARTAMENTO MEDICO PROMINE
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="id-card-outline"> </ion-icon>
              N° Historia Clinica: {{aspirante.asp_cedula}}
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="ribbon-outline"> </ion-icon>
              Cargo: <i>{{aspirante.asp_cargo}}</i>
            </ion-label>
          </span>
        </ion-col>

        <ion-col size="6">
          <span style="display: inline-grid;">
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="information-circle"> </ion-icon>
              RUC: 0791722772001
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="finger-print"> </ion-icon>
              CIIU: <i> B072 </i>
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="male-female-outline"> </ion-icon>
              Sexo: <i> {{aspirante.asp_sexo}} </i>
            </ion-label>
            <!-- <ion-label style="font-size: 0.8rem;">
              <ion-icon name="hourglass"> </ion-icon>
              Edad: <i> {{asp_edad}} años </i>
            </ion-label> -->
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="id-card-outline"> </ion-icon>
              N° Archivo: {{aspirante.asp_cedula}}
            </ion-label>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <!-- <ion-card> -->
  <swiper-container #swiper [allowTouchMove]="false" [afterinit]="swiperReady()">

    <swiper-slide swiperSlide class="swiper-medicina">

      <ion-card>

        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">DATOS GENERALES</ion-card-title>
        </ion-card-header>

        <ion-grid>
          <ion-row>

            <!-- <ion-col size="4" size-sm="6" size-md="6" size-lg="4" size-xl="4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha de ingreso</mat-label>
                <input matInput [matDatepicker]="pickerA" placeholder="YYYY-MM-DD" color="primary"
                  [(ngModel)]="fechaEmision" name="ingresoAspirante">
                <mat-datepicker-toggle matSuffix [for]="pickerA" style="color: #071f3b;"></mat-datepicker-toggle>
                <mat-datepicker #pickerA touchUi [disabled]="aspirante.amv_verificado"></mat-datepicker>
              </mat-form-field>
            </ion-col> -->

            <ion-col size="6" size-sm="6" size-md="6" size-lg="6" size-xl="6"
              style="padding-top: 0; margin-left: 10px ; border: 2px #071F3B solid; border-radius: 5px;">
              <!-- <ion-item color="primary" lines="none">
                <ion-datetime-button slot="end" datetime="date-time"></ion-datetime-button>
              </ion-item> -->

              <!-- <ion-datetime mode="md" id="date-time" presentation="date-time" [preferWheel]="false"
                class="fecha-entrevista" #horaIngreso [value]="fechaEmision.toISOString()">
              </ion-datetime> -->
              <!-- <ion-item class="ion-no-padding"> -->
              <ion-label position="stacked" >Fecha de ingreso</ion-label>
              <ion-datetime-button datetime="datetime" style="font-size: 1.1rem; margin-top: 5px;"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime" presentation="date-time" [preferWheel]="false" locale="es-EC"
                    (ionChange)="setFecha($event,true)" [value]="fechaString" [showDefaultButtons]="true"
                    doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                </ng-template>
              </ion-modal>
              <!-- </ion-item> -->

            </ion-col>


            <!-- <ion-col size="3" hidden="true">
              <ion-item [disabled]="aspirante.amv_verificado" fill="outline" lines="none">

                <ion-label color="primary" class="text-small" style="margin:8px;">Fecha de emision: <br>
                  {{aspirante.amv_femision}}</ion-label>
                <ion-buttons>
                  <ion-button id="open-emision" (click)="abrirModalfecha('mdFechaEmision')">
                    <ion-icon name="calendar-outline" color="primary"></ion-icon>
                  </ion-button>
                  <ion-modal [isOpen]="mdFechaEmision">
                    <swiper-slide>
                      <ion-content class="ion-padding">
                        <ion-datetime [value]="fechaEmision.toISOString()" locale="es-ES" showDefaultTimeLabel="false"
                          name="fechaEmision" (ionChange)="setFecha($event)" size="cover" mode="md"
                          showDefaultButtons="true" doneText="Aceptar" cancelText="Cancelar">
                          <span slot="title">INGRESO DE ENTREVISTA</span>
                          <span slot="time-label">Hora de entrevista</span>
                        </ion-datetime>
                      </ion-content>
                    </swiper-slide>
                  </ion-modal>
                </ion-buttons>
              </ion-item>
            </ion-col> -->

            <ion-col size="1">

            </ion-col>

            <ion-col >
              <ion-item [disabled]="aspirante.amv_verificado" fill="outline">
                <ion-label position="floating" style="margin-top: 0px;"> Evaluacion medica:</ion-label>
                <ion-select mode="ios" placeholder="Evaluacion medica" interface="popover"
                  [(ngModel)]="aspirante.amv_evaluacion" name="evaluacionAspirante"
                  [selectedText]="aspirante.amv_evaluacion">
                  <ion-select-option *ngFor="let item of evaluacion">{{item.asp_nombre}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-grid>

        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">APTITUD MÉDICA LABORAL</ion-card-title>
          <ion-card-subtitle color="primary"> Después de la valoración médica ocupacional se certifica que la persona en
            mención, es
            calificada como:
          </ion-card-subtitle>
        </ion-card-header>

        <ion-grid>
          <ion-row>

            <ion-col size="12">
              <ion-item [disabled]="aspirante.amv_verificado" fill="outline">
                <ion-label position="floating" color="primary">Valoracion medica</ion-label>
                <ion-select mode="ios" placeholder="Seleccione una" interface="popover"
                  [(ngModel)]="aspirante.amv_valoracion" name="valoracionAspirante"
                  [selectedText]="aspirante.amv_valoracion" (ionChange)="validarSlide1()">
                  <ion-select-option *ngFor="let item of valoracion">{{item.asp_nombre}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item [hidden]="" [disabled]="aspirante.amv_verificado" fill="outline">
                <ion-label position="floating" color="primary">Detalle de observaciones</ion-label>
                <ion-textarea [(ngModel)]="aspirante.amv_observacion" [value]="aspirante.apv_observacion" type="text"
                  name="apv_observacion" placeholder="Detalle de observaciones"
                  (ionChange)="editTextbox($event,'amv_observacion')" [autoGrow]="true">
                </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </swiper-slide>

    <swiper-slide swiperSlide class="swiper-medicina">
      <ion-card>

        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">CONDICIONES DE SALUD AL MOMENTO DEL RETIRO
          </ion-card-title>
          <ion-card-subtitle color="primary">
            Después de la valoración médica ocupacional se certifica las condiciones de salud al momento del retiro:
          </ion-card-subtitle>
        </ion-card-header>

        <ion-grid>
          <ion-row>

            <ion-col size="12">
              <ion-item [disabled]="aspirante.amv_verificado" fill="outline">
                <ion-label position="floating" color="primary">Condicion medica</ion-label>
                <ion-select mode="ios" placeholder="Seleccione una" interface="popover"
                  [(ngModel)]="aspirante.amv_condicion" name="condicionAspirante"
                  [selectedText]="aspirante.amv_condicion" (ionChange)="validarSlide2()">
                  <ion-select-option *ngFor="let item of condicion">{{item.asp_nombre}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item [hidden]="" [disabled]="aspirante.amv_verificado" fill="outline">
                <ion-label position="floating" color="primary">Observaciones relacionadas con las condicones de salud
                </ion-label>
                <ion-textarea class="custom-textarea" [(ngModel)]="aspirante.amv_observacion2"
                  [value]="aspirante.amv_observacion2" type="text" name="amv_observacion"
                  placeholder="Observaciones relacionadas con las condicones de salud al momento del retiro"
                  (ionChange)="editTextbox($event,'amv_observacion2')" [autoGrow]="true">
                </ion-textarea>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item [hidden]="" [disabled]="aspirante.amv_verificado" lines="full" fill="outline">
                <ion-label position="floating" color="primary">Tratamiento y recomendaciones</ion-label>
                <ion-textarea class="custom-textarea" [(ngModel)]="aspirante.amv_recomendacion"
                  [value]="aspirante.amv_recomendacion" type="text" name="amv_concepto"
                  placeholder="Tratamiento y recomendaciones" (ionChange)="editTextbox($event,'amv_recomendacion')"
                  [autoGrow]="true">
                </ion-textarea>
              </ion-item>
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col size="12">
              <p style="background: #e3990f5e; color:var(--ion-color-primary); text-align: justify;">
                Con este documento certifico que el trabajador se ha sometido a la evaluación médica requerida para
                (el
                ingreso/ la ejecución/ el reintegro y retiro) al puesto laboral y se ha informado sobre los riesgos
                relacionados con el trabajo emitiendo recomendaciones relacionadas con su estado de salud.
              </p>
            </ion-col>
          </ion-row>

        </ion-grid>

        <!-- <ion-card-content style="background: #e3990f5e; color:var(--ion-color-primary);">
          Con este documento certifico que el trabajador se ha sometido a la evaluación médica requerida para (el
          ingreso/ la ejecución/ el reintegro y retiro) al puesto laboral y se ha informado sobre los riesgos
          relacionados con el trabajo emitiendo recomendaciones relacionadas con su estado de salud.
        </ion-card-content> -->

      </ion-card>
    </swiper-slide>

    <swiper-slide class="swiper-medicina">
      <ion-card [hidden]="aspirante.amv_verificado">

        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">
            <ion-icon name="download"></ion-icon>
            GENERAR Y DESCARGAR DOCUMENTOS
          </ion-card-title>
        </ion-card-header>

        <ion-grid>

          <ion-row>
            <ion-col [hidden]="aspirante.amv_verificado">

              <ion-button (click)="generarHistoriaClinica()" expand="block" fill="solid" shape="round" mat-raised-button
                matTooltipPosition="left" [matTooltipShowDelay]="500" matTooltipClass="popover-item"
                matTooltip="Seleciona para generar el certificado de salud en el trabajo del aspirante."
                style="margin: 0 5%;" [disabled]="generandoficha">
                <ion-icon name="document-attach" *ngIf="!generandoficha"></ion-icon>
                <ion-spinner slot="start" name="bubbles" *ngIf="generandoficha"></ion-spinner>
                <ion-label *ngIf="!generandoficha"> Generar Certificado </ion-label>
                <ion-label *ngIf="generandoficha"> Generando documento </ion-label>
              </ion-button>

              <!-- <ion-button (click)="generarHistoriaClinica()" expand="block" fill="solid" shape="round"
                [hidden]="aspirante.amv_verificado == true || rol != 'medi'" style="margin: 0 5%;">
                <ion-icon slot="start" name="document-attach"></ion-icon>
                Generar Historia clinica
              </ion-button> -->

            </ion-col>
          </ion-row>


        </ion-grid>

      </ion-card>

      <ion-card>

        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">
            <ion-icon name="cloud-upload"></ion-icon>
            {{(aspirante.amv_verificado==false)?'SUBIR ':'DESCARGAR '}} DOCUMENTOS DEL ASPIRANTE
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <!-- <div style="margin-bottom: 1rem; text-align: left;" class="ion-padding"> -->

          <ion-row>

            <ion-col>
              <app-file-formdata (setArchivo)="archivoListo($event,'Ficha')" [tarea]="'subirfichamedi'"
                [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.amv_urlficha"
                [verificado]="aspirante.amv_verificado" [titulo]="'Certificado de salud'"></app-file-formdata>
            </ion-col>

            <ion-col>
              <app-file-formdata (setArchivo)="archivoListo($event,'Historia')" [tarea]="'subirhistoriamedi'"
                [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.amv_urlhistoria"
                [verificado]="aspirante.amv_verificado" [titulo]="'Historia clinica'"></app-file-formdata>
            </ion-col>

          </ion-row>

        </ion-card-content>

      </ion-card>

    </swiper-slide>
  </swiper-container>
  <!-- </ion-card> -->


</ion-content>

<ion-footer class="ion-padding" [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()" fill="outline" color="danger">
        Cancelar
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
        <div style="display: inline-flex;" slot="secondary">
          <ion-fab-button size="small" (click)="setSlide(0)" [color]="(selectSlide==0)?'warning':'light'">
            <ion-text color="primary">
              <b>1</b>
            </ion-text>
          </ion-fab-button>
          <ion-fab-button size="small" (click)="setSlide(1)" [color]="(selectSlide==1)?'warning':'light'">
            <ion-text color="primary">
              <b>2</b>
            </ion-text>
          </ion-fab-button>
          <ion-fab-button size="small" (click)="setSlide(2)" [color]="(selectSlide==2)?'warning':'light'">
            <ion-text color="primary">
              <b>3</b>
            </ion-text>
          </ion-fab-button>
        </div>
      </ion-buttons> -->

    <ion-buttons slot="end" style="margin-right: 20px;">
      <!-- <div style="display: inline-flex;" slot="secondary"> -->
      <ion-button (click)="setSlide(0)" [color]="(selectSlide==0)?'warning':'light'"
        [fill]="(selectSlide==0)?'solid':'solid'" [shape]="(selectSlide==0)?undefined:'round'">
        <ion-label [color]="(selectSlide==0)?'dark':'medium'">1</ion-label>
        <ion-icon name="checkmark-done-outline" *ngIf="selectSlide==0" slot="end"></ion-icon>
      </ion-button>
      <ion-button (click)="setSlide(1)" [color]="(selectSlide==1)?'warning':'light'"
        [fill]="(selectSlide==1)?'solid':'solid'" [shape]="(selectSlide==1)?undefined:'round'">
        <ion-label [color]="(selectSlide==1)?'dark':'medium'">2</ion-label>
        <ion-icon name="medkit-outline" *ngIf="selectSlide==1" slot="end"></ion-icon>
      </ion-button>
      <ion-button (click)="setSlide(2)" [color]="(selectSlide==2)?'warning':'light'"
        [fill]="(selectSlide==2)?'solid':'solid'" [shape]="(selectSlide==2)?undefined:'round'">
        <ion-label [color]="(selectSlide==2)?'dark':'medium'">3</ion-label>
        <ion-icon name="documents-outline" *ngIf="selectSlide==2" slot="end"></ion-icon>
      </ion-button>
      <!-- </div> -->
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        [disabled]="(!validado1 && selectSlide==0) || (!validado2 && selectSlide==1) || (aspirante.amv_verificado==true && selectSlide==2)"
        (click)="presentAlert()" expand="block" fill="solid" color="primary" slot="end">
        <ion-label>{{(selectSlide==2)?'Finalizar':'Siguiente'}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>