
<ion-content>

  <div class="text-center">
 
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4"
              *ngFor="let componente of componentes | async" >

        <ion-card mode="ios" [routerLink]="componente.redirectTo">

        <ion-card-header>
          <ion-row>
            <ion-col size="2">
              <ion-avatar class="avatar-card">
                <img [src]="componente.img" >
              </ion-avatar>
            </ion-col>
              <ion-col size="10">
                <ion-card-title color="primary">{{componente.name}}</ion-card-title>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content>
            {{componente.desc}}
          </ion-card-content>

          <ion-button  shape="round" fill="outline" color="primary" class="card-button">
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
            Ver informacion
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

  
<!-- Shareable short link of  uoloaded file -->
<!-- <div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{filename}}">{{shortLink}}</a>
</div> -->
  
<!--Flag variable is used here-->
  <div class="container" *ngIf="loading">
      <h3>Loading ...</h3>
  </div>
</div>

</ion-content>
