<ion-header>
  <ion-toolbar color="primary" style="border: 3px white solid; border-radius: 15px 15px 0 0;">
    <ion-grid fixed>

      <ion-row style="padding: 10px 10px; height: 80px;">

        <ion-col size="2" style="display: flex; padding: 0px 5px 0px 0px;">
          <ion-avatar style="--border-radius:20px; margin: 0 auto; border: 2px #ffffffc0 solid;">
            <img src="assets/icon/person.png" />
          </ion-avatar>
        </ion-col>

        <ion-col size="10" style="display: inline-flex;">
          <span style="display: inline-grid;">
            <ion-label style="font-size: 1.9rem; margin-bottom: 1rem;">ANTECEDENTES JUDICIALES</ion-label>
            <ion-label style="margin: auto 0px; text-overflow: ellipsis; white-space: nowrap;
                  overflow: hidden !important; font-size: 1.1rem; font-weight: 500;">
             Elias Rivera
            </ion-label>
          </span>
        </ion-col>
      </ion-row>


      <ion-row style="border-top: 2px #ffffff90 solid; margin-top: 5px; padding: 5px 1rem;">

        <ion-col size="6">
          <span style="display: inline-grid;">

            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="business-outline"> </ion-icon>
              PROMINE
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="heart-circle"> </ion-icon>
              DEPARTAMENTO LEGAL
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="ribbon-outline"> </ion-icon>
              Cargo: <i>Jefe v:</i>
            </ion-label>
          </span>

        </ion-col>

        <ion-col size="6">
          <span style="display: inline-grid;">

            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="information-circle"> </ion-icon>
              RUC: 0791722772001
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="id-card-outline"> </ion-icon>
              Cédula: 
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="male-female-outline"> </ion-icon>
              Sexo: <i>  </i>
            </ion-label>
            <!-- <ion-label style="font-size: 0.8rem;">
              <ion-icon name="hourglass"> </ion-icon>
              Edad: <i> {{asp_edad}} años </i>
            </ion-label> -->

          </span>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding" >
 
  <ion-card class="ion-no-padding">
  
    <ion-card-header color="medium" style="display: flex;">
      
      <ion-card-title style="font-size: 1rem;">OBSERVACIONES TALENTO HUMANO</ion-card-title>
      <ion-fab-button size="small" style="position: absolute; top: 0; right: 0; margin: 5px;" color="light">
        <ion-icon  name="chevron-up-outline"></ion-icon>
        <!-- <ion-icon  name="chevron-down-outline"></ion-icon> -->
      </ion-fab-button>
    </ion-card-header>

    <ion-card-content color="light" >
      <ion-list>

        <ion-item style="color:#544f5f;" >
            <ion-label position="stacked"><b>Observación de Talento Humano</b></ion-label>
            <span class="label-observacion"></span>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card> 

  <ion-card class="ion-no-padding">

    <ion-card-content>
      <ion-text color="danger" style="font-size: small;">
        *Seleccione los elementos respectivos sobre la informacion legal del
        <i>Apirante</i> que han sido validados por el departamento de Talento Humano.<br>
      </ion-text>
      
      <ion-item [disabled]="aspirante.alv_verificado" lines="inset">
        <ion-label>Revisión de documentos generales del aspirante?</ion-label>
        <ion-checkbox [(ngModel)]="aspirante.alv_vdocumentos" mode="ios"
          (ionChange)="cambiarCheckbox('alv_vdocumentos',$event)" slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item [disabled]="aspirante.alv_verificado" lines="inset">
        <ion-label>Socialización breve de la normativa interna?</ion-label>
        <ion-checkbox [(ngModel)]="aspirante.alv_vnormativas" mode="ios"
          (ionChange)="cambiarCheckbox('alv_vnormativas',$event)" slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item [disabled]="aspirante.alv_verificado" lines="inset">
        <ion-label>Socialización de los llamados de atención conforme a la ley (Código del trabajo)?</ion-label>
        <ion-checkbox [(ngModel)]="aspirante.alv_vllamados" mode="ios"
          (ionChange)="cambiarCheckbox('alv_vllamados',$event)" slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item [disabled]="aspirante.alv_verificado" lines="inset">
        <ion-label>Socialización en temas de comunicación con la empresa por parte del aspirante,  <br>
          en casos de incidentes en los núcleos familiares?</ion-label>
        <ion-checkbox [(ngModel)]="aspirante.alv_vincidentes" mode="ios"
          (ionChange)="cambiarCheckbox('alv_vincidentes',$event)" slot="end"></ion-checkbox>
      </ion-item>

    </ion-card-content>
   
    <div style="margin: 0.5em;">
  
      <!-- <app-list-observacion [observaciones]="listaObservaciones" >
  
      </app-list-observacion> -->
      <ion-col size="12">
        <ion-item [hidden]="" [disabled]="aspirante.alv_verificado" fill="outline">
          <ion-label position="floating" color="primary">Observaciones</ion-label>
          <ion-textarea type="text" name="alv_observacion" [(ngModel)]="aspirante.alv_observacion" placeholder="Escriba alguna observación..." 
                        [autoGrow]="true">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </div>
  </ion-card>


</ion-content>

<ion-footer class="ion-padding" [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()" fill="outline" color="danger">
        Cancelar
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()" expand="block" slot="end" fill="solid"
        color="primary">
        Finalizar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>