//@use "@angular/material/tooltip/styles";

.list-content {
  border: 2px solid #071f3b;
  border-style: none solid solid solid;
  border-radius: 0px 0px 15px 15px;
}

.chip-list {
  width: fit-content;
  padding: 0;
  height: fit-content;
}

.chip-label {
  align-items: center;
  display: flex;
}

.chip-text {
  padding: 5px;
}

.item-textarea {
  font-size: 0.9rem;
  font-style: italic;
  padding: 0 !important;
  //height: fit-content !important;
}

.chip-close {
  // --padding-end: 0;
  // --padding-start: 10px;
  // margin-right: 5px;
  // width: auto;
  height: fit-content;
  --color: var(--ion-color-light);
  --color-hover: var(--ion-color-danger);
}

.button-ok {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
}


