ion-radio {
  width: 30px;
  height: 30px;
}

.label-observacion {
  line-height: 15px;
  margin: 10px 0px;
  font-style: italic;
}

// ion-textarea.custom-textarea {
//   --background: #373737;
//   --color: #fff;
//   --padding-end: 20px;
//   --padding-start: 20px;
//   --placeholder-color: #ddd;
//   --placeholder-opacity: 0.8;
// }

// ion-item{
//   --border-style: none;
// }