<ion-header>
  <ion-toolbar color="primary" style="border: 3px white solid; border-radius: 15px 15px 0 0;">
    <ion-grid fixed>

      <ion-row style="padding: 10px 10px; height: 80px;">

        <ion-col size="2" style="display: flex; padding: 0px 5px 0px 0px;">
          <ion-avatar style="--border-radius:20px; margin: 0 auto; border: 2px #ffffffc0 solid;">
            <img src="assets/icon/person.png" />
          </ion-avatar>
        </ion-col>
        <ion-col size="10" style="display: inline-flex;">
          <span style="display: inline-grid;">
            <ion-label style="font-size: 1.9rem; margin-bottom: 1rem;">INDUCCIÓN DE TRABAJADORES NUEVOS</ion-label>
            <ion-label style="margin: auto 0px; text-overflow: ellipsis; white-space: nowrap;
                  overflow: hidden !important; font-size: 1.1rem; font-weight: 500;">
             Elias Rivera
            </ion-label>
          </span>
        </ion-col>
      </ion-row>


      <ion-row style="border-top: 2px #ffffff90 solid; margin-top: 5px; padding: 5px 1rem;">

        <ion-col size="6">
          <span style="display: inline-grid;">

            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="business-outline"> </ion-icon>
              PROMINE
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="heart-circle"> </ion-icon>
              DEPARTAMENTO DE SEGURIDAD Y SALUD
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="ribbon-outline"> </ion-icon>
              Cargo: <i>Jefe v:</i>
            </ion-label>
          </span>

        </ion-col>

        <ion-col size="6">
          <span style="display: inline-grid;">

            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="information-circle"> </ion-icon>
              RUC: 0791722772001
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="id-card-outline"> </ion-icon>
              Cédula: 
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="male-female-outline"> </ion-icon>
              Sexo: <i>  </i>
            </ion-label>
            <!-- <ion-label style="font-size: 0.8rem;">
              <ion-icon name="hourglass"> </ion-icon>
              Edad: <i> {{asp_edad}} años </i>
            </ion-label> -->

          </span>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding" >

  <swiper #swiper [allowTouchMove]="false">
    
    <ng-template swiperSlide class="swiper-medicina">
      <ion-card class="ion-no-padding">
     
        <ion-card-content>
          <ion-text color="danger" style="font-size: small;">
          *Seleccione los elementos respectivos sobre la informacion riesgos que entrañan las labores
           que desarrollare en mi trabajo, así como las medidas preventivas que debo tomar para hacer de esto un
           método seguro de trabajo.
           </ion-text>
       
         <ion-item>
           <ion-label>Se entrego el reglamento interno de seguridad e higiene en el trabajo?</ion-label>
           <ion-checkbox slot="end" mode="ios" ></ion-checkbox>
         </ion-item>
       
         <ion-item>
           <ion-label>Se socializó la inducción de señalización de seguridad?</ion-label>
           <ion-checkbox slot="end" mode="ios"></ion-checkbox>
         </ion-item>
    
        </ion-card-content>
         
      </ion-card>
    
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>PROMINE CIA LTDA</ion-card-title>
          <ion-item color="primary">
            <ion-label position="start">Orden de Salida de EPP</ion-label>
            <ion-datetime-button slot="end" datetime="datetime"></ion-datetime-button>
          </ion-item>
        
          <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
            </ion-modal>
        
    
        </ion-card-header>
    
        <ion-card-content>
          <ion-row>
            <ion-col size="6">
              <ion-item fill="outline">
                <ion-label position="floating">Nombres</ion-label>
                <ion-input placeholder="Enter text"></ion-input>
              </ion-item>
            </ion-col>
    
            <ion-col size="6">
              <ion-item fill="outline">
                <ion-label position="floating">Lugar a utilizar</ion-label>
                <ion-input placeholder="Enter text"></ion-input>
              </ion-item>
            </ion-col>
    
            <ion-col size="12">
              <ion-item fill="outline">
                <ion-label position="floating" color="primary">Articulo</ion-label>
                  <ion-textarea color="dark" type="text" name="articulo"
                                placeholder="Escribir los articulos y cantidad..." [autoGrow]="true"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide class="swiper-medicina">

      <div style="margin: 1em;">
        <app-list-observacion [observaciones]="listaObservaciones" >
        </app-list-observacion>
      </div>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
    </ng-template>
  </swiper>
</ion-content>

<!-- <ion-content class="ion-no-padding">

  <swiper #swiper [allowTouchMove]="false"> 
  
    <ng-template swiperSlide class="swiper-medicina">
      <ion-card class="ion-no-padding">
       
        <ion-card-header color="medium" style="display: flex;">
         
      
          <ion-card-title style="font-size: 1rem;">ÁREA MÉDICA (Observaciones)</ion-card-title>
          <ion-fab-button size="small" style="position: absolute; top: 0; right: 0; margin: 5px;" color="light"
                          >
            <ion-icon name="chevron-up-outline"></ion-icon>
            <ion-icon  name="chevron-down-outline"></ion-icon>
          </ion-fab-button>
        </ion-card-header>
      
        <ion-card-content color="light" >
          <ion-list >
      
            <ion-item style="color:#544f5f;" >
                <ion-label position="stacked"><b>Valoracion</b></ion-label>
                <span class="label-observacion">sdfsdfsdfsdfsdf</span>
            </ion-item>
            <ion-item style="color:#544f5f;">
                <ion-label position="stacked"><b>Condiciones de ingreso</b></ion-label>
                <span class="label-observacion">asdsdadasdasd</span>
            </ion-item>
            <ion-item style="--color:#544f5f;">
                <ion-label position="stacked"><b>Recomendaciones</b></ion-label>
                <span class="label-observacion">sdfdsfsdfl lasldasmdasm</span>
            </ion-item>
      
          </ion-list>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
      
        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">
            PROCESO DE SELECCION DE PERSONAL
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-item [hidden]="" fill="outline">
                <ion-label position="floating">Concepto final</ion-label>
                <ion-textarea name="apv_concepto" placeholder="Espacio para el entrevistador..." [rows]="4">
                </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      
        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">
            APROBACIÓN PSICOLÓGICA
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-radio-group style="width: 100%; display:inline-flex;">
          
                <ion-item slot="start" style="width: 30%;" class="radiobtn">
                  <ion-label color="primary">SI</ion-label>
                  <ion-radio slot="start" value="SI"></ion-radio>
                </ion-item>
          
                <ion-item style="width: 30%;" class="radiobtn">
                  <ion-label color="primary">NO</ion-label>
                  <ion-radio value="NO" slot="start"></ion-radio>
                </ion-item>
          
                <ion-item slot="end" style="width: 40%;" class="radiobtn">
                  <ion-label color="primary">CON RESERVA</ion-label>
                  <ion-radio value="RESERVA" slot="start"></ion-radio>
                </ion-item>
          
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-card-content>
          
      </ion-card>
    </ng-template>
  
    <ng-template swiperSlide class="swiper-medicina">
      <ion-card>
  
        <ion-card-header>
          <ion-card-title>OBSERVACIONES DEL ENTREVISTADO</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <app-list-observacion [observaciones]="listaObservaciones" >
          </app-list-observacion>
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">SUBIR O DESCARGAR DOCUMENTOS</ion-card-title>
        </ion-card-header>
  
         <ion-card-content>
      
              <ion-button expand="block" fill="solid" shape="round" style="margin: 0 5%;">
              <ion-icon slot="start" name="document-attach"></ion-icon>
              Generar ficha de aptitup
             </ion-button>
  
              <div style="margin-bottom: 1rem; text-align: left;" class="ion-padding">
  
                <ion-label>Ficha psicológica</ion-label>
                  <ion-item class="item-file">
                    <ion-input type="file" accept=".xls,.xlsx,.pdf"
                              style="position: absolute; font-size: 0.9rem;">
                    </ion-input>
                    <ion-icon slot="end" name="checkmark-circle" size="large" color="primary"
                              style="margin: 0;">
                    </ion-icon>
                </ion-item>
    
                <div style="display:flex; align-items: center; justify-content: right; font-size: 1rem;">
                  <ion-skeleton-text animated class="subir-skeleton"> </ion-skeleton-text>
                  <ion-label class="subir-label"> ...subiendo historia clinica
                    <ion-spinner name="crescent" color="success" style="margin-right:10px; margin-left:10px;">
                    </ion-spinner>
                  </ion-label>
                </div>
    
                <ion-item style="width: 50%;" lines="none">
                  <ion-button color="primary" expand="block"
                              style="height: 40px; width: 100%;">
                    <ion-icon name="download-outline" slot="start"></ion-icon>
                    Ficha psicologica
                  </ion-button>
                </ion-item>
              
              </div>
  
          <div style="margin-bottom: 1rem; text-align: left;" class="ion-padding">
              <ion-label >Test de aptitud</ion-label>
                <ion-item class="item-file">
                  <ion-input type="file" accept=".xls,.xlsx,.pdf"
                    style="position: absolute; font-size: 0.9rem;">
                  </ion-input>
                  <ion-icon slot="end" name="checkmark-circle" size="large" color="primary"
                    style="margin: 0;"></ion-icon>
    
                </ion-item>
    
                <div style="display:flex; align-items: center; justify-content: right; font-size: 1rem;">
                  <ion-skeleton-text animated class="subir-skeleton"> </ion-skeleton-text>
                  <ion-label class="subir-label"> ...subiendo test de aptitud
                    <ion-spinner name="crescent" color="success" style="margin-right:10px; margin-left:10px;">
                    </ion-spinner>
                  </ion-label>
                </div>
    
                <ion-button expand="block" fill="outline" shape="round" color="warning" target="_blank">
                  <ion-label color="primary">
                    Descargar test de aptitud
                    <ion-icon name="download-outline" slot="end"></ion-icon>
                  </ion-label>
                </ion-button>
          </div>
  
            </ion-card-content>
  
      </ion-card>
    </ng-template>
    
    
  </swiper> 
  
  </ion-content> -->

<ion-footer class="ion-padding" [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()" fill="outline" color="danger">
        Cancelar
      </ion-button>
    </ion-buttons>
   
    <ion-buttons slot="end">
      <div style="display: inline-flex;" slot="secondary">
        <ion-fab-button size="small" (click)="setSlide(0)" [color]="(selectSlide==0)?'warning':'light'">
          <ion-text color="primary">
            <b>1</b>
          </ion-text>
        </ion-fab-button>
        <ion-fab-button size="small" (click)="setSlide(1)" [color]="(selectSlide==1)?'warning':'light'">
          <ion-text color="primary">
            <b>2</b>
          </ion-text>
        </ion-fab-button>
      </div>
  </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()" expand="block" slot="end" fill="solid"
        color="primary">
        Finalizar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>