<ion-header>
  <ion-toolbar color="primary" style="border: 3px white solid; border-radius: 15px 15px 0 0;">
    <ion-grid fixed>

      <ion-row style="padding: 10px 10px; height: 80px;">

        <ion-col size="2" style="display: flex; padding: 0px 5px 0px 0px;">
          <ion-avatar style="--border-radius:20px; margin: 0 auto; border: 2px #ffffffc0 solid;">
            <img src="assets/icon/person.png" />
          </ion-avatar>
        </ion-col>

        <ion-col size="10" style="display: inline-flex;">
          <span style="display: inline-grid;">
            <ion-label style="font-size: 1.9rem; margin-bottom: 1rem;">INDUCCIÓN DE TRABAJADORES NUEVOS</ion-label>
            <ion-label style="margin: auto 0px; text-overflow: ellipsis; white-space: nowrap;
                              overflow: hidden !important; font-size: 1.1rem; font-weight: 500;">
              {{aspirante.asp_nombre}}
            </ion-label>
          </span>
        </ion-col>
      </ion-row>

      <ion-row style="border-top: 2px #ffffff90 solid; margin-top: 5px; padding: 5px 1rem;">

        <ion-col size="6">
          <span style="display: inline-grid;">

            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="business-outline"> </ion-icon>
              PROMINE CIA. LTDA.
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="heart-circle"> </ion-icon>
              DEPARTAMENTO DE SEGURIDAD Y SALUD
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="information-circle"> </ion-icon>
              RUC: 0791722772001
            </ion-label>

          </span>
        </ion-col>

        <ion-col size="6">
          <span style="display: inline-grid;">

            <!-- <ion-label style="font-size: 0.8rem;">
              <ion-icon name="ribbon-outline"> </ion-icon>
              Cargo: <i>{{aspirante.asp_cargo}}</i>
            </ion-label> -->
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="id-card-outline"> </ion-icon>
              Cédula: {{aspirante.asp_cedula}}
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="male-female-outline"> </ion-icon>
              Sexo: <i> {{aspirante.asp_sexo}} </i>
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="hourglass"> </ion-icon>
              Edad: <i> {{asp_edad}} </i>
            </ion-label>

          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <swiper #swiper [allowTouchMove]="false">

    <ng-template swiperSlide class="swiper-medicina">
      <ion-card>

        <ion-card-content color="light">
          <ion-text color="danger" style="font-size: small;">
            *Seleccione los elementos respectivos sobre la informacion riesgos que entrañan las labores
            que desarrollare en mi trabajo, así como las medidas preventivas que debo tomar para hacer de esto un
            método seguro de trabajo.
          </ion-text>

          <ion-item lines="inset" [disabled]="aspirante.asv_verificado">
            <ion-label>Se entregó el reglamento interno de seguridad y salud en el trabajo?</ion-label>
            <ion-checkbox [(ngModel)]="aspirante.asv_vreglamentos" slot="end" mode="ios"></ion-checkbox>
          </ion-item>

          <ion-item lines="inset" [disabled]="aspirante.asv_verificado">
            <ion-label>Se entregó la inducción de seguridad y salud en el trabajo?</ion-label>
            <ion-checkbox [(ngModel)]="aspirante.asv_vinduccion" slot="end" mode="ios"></ion-checkbox>
          </ion-item>

          <ion-item lines="inset" [disabled]="aspirante.asv_verificado">
            <ion-label>Se entregaron los procedimientos escritos de trabajo seguro?</ion-label>
            <ion-checkbox [(ngModel)]="aspirante.asv_vprocedimientos" slot="end" mode="ios"></ion-checkbox>
          </ion-item>

          <ion-item lines="inset" [disabled]="aspirante.asv_verificado">
            <ion-label>Cuenta el trabajador con la certificación de competencias en prevención de riesgos
              laborales?</ion-label>
            <ion-checkbox [(ngModel)]="aspirante.asv_vcertificacion" slot="end" mode="ios"></ion-checkbox>
          </ion-item>

          <ion-item lines="inset" [disabled]="aspirante.asv_verificado">
            <ion-label>Se socializó la matriz de riesgo?</ion-label>
            <ion-checkbox [(ngModel)]="aspirante.asv_vmatrizriesgo" slot="end" mode="ios"></ion-checkbox>
          </ion-item>

          <ion-item lines="inset" [disabled]="aspirante.asv_verificado">
            <ion-label>Se realizó la respectiva evaluación de conocimiento en seguridad y salud en el
              trabajo?</ion-label>
            <ion-checkbox [(ngModel)]="aspirante.asv_vevaluacion" slot="end" mode="ios"></ion-checkbox>
          </ion-item>

        </ion-card-content>

        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">
            OBSERVACIONES
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-item [hidden]="" [disabled]="aspirante.asv_verificado" fill="outline">
                <ion-label position="floating"> Observación Final </ion-label>
                <ion-textarea [(ngModel)]="aspirante.asv_observacion" [value]="aspirante.asv_observacion"
                  placeholder="Escriba alguna observación..." [autoGrow]="true">
                </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>

      </ion-card>

      <!-- <div style="margin: 0.5em 1.5em 0em 1.5em;">
        <ion-col size="12">
          <ion-item [hidden]="" [disabled]="" fill="outline">
            <ion-label position="floating" color="primary">Observaciones</ion-label>
            <ion-textarea type="text" name="apv_observacion" placeholder="Escriba alguna observación..."
              [autoGrow]="true">
            </ion-textarea>
          </ion-item>
        </ion-col>
      </div> -->

    </ng-template>

    <ng-template swiperSlide class="swiper-medicina">

      <ion-card color="light">
        <ion-card-header>
          <!-- <ion-label position="start"></ion-label> -->
          <ion-item color="primary">
            <ion-card-title>Orden de Salida de EPP</ion-card-title>
            <ion-datetime-button slot="end" datetime="datetime"></ion-datetime-button>
          </ion-item>

          <ion-datetime id="datetime" hidden="true"></ion-datetime>

        </ion-card-header>

        <ion-card-content style="min-height: 350px;">
          <ion-row>

            <ion-col size="12" >
              <ion-item fill="outline">
                <ion-label position="floating">Lugar a utilizar</ion-label>
                <ion-input placeholder="Ingrese el lugar de trabajo" [(ngModel)]="aspirante.asv_lugar" [disabled]="aspirante.asv_verificado"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12" style="display: flex;" class="ion-justify-content-center">
              <!-- <ion-searchbar animated="true" placeholder="equipos y herramientas" [debounce]="1000"
                (ionChange)="handleChange($event)" (ionClear)="handleClear()" (ionBlur)="handleClear()" >
              </ion-searchbar> -->

              <ion-item style="width: 40%;" [disabled]="aspirante.asv_verificado">
                <!-- <ion-label>Input</ion-label> -->
                <ion-input placeholder="Equipos y herramientas" [debounce]="1000" (ionChange)="handleChange($event)"
                  (ionBlur)="handleClear()" (ionInput)="handleBlur()" [(ngModel)]="txtbusqueda" style="text-align: center;">    
                </ion-input>
                <ion-icon aria-hidden="true" *ngIf="!isbuscando" name="search-circle-outline" color="warning"
                  size="large" ></ion-icon>
                <ion-spinner name="circles" *ngIf="isbuscando" color="warning"></ion-spinner>
              </ion-item>

              <div style="width: 60%; background: lightgoldenrodyellow;">
                <ion-label>Escribe el nombre o codigo del articulo para mostrar la lista. Luego selecciona el articulo correspondiente para ingresar la cantidad.</ion-label>
              </div>

              <ion-list class="lista-articulos" [hidden]="lista_filter.length==0" color="primary">
                <ion-item *ngFor="let result of lista_filter" button="true" (click)="addArticulo(result)">
                  <ion-label [innerHTML]="getNombreStyle(result.codigo + ' - ' + result.item)" > </ion-label>
                </ion-item>
              </ion-list>
              <!-- <ion-searchbar placeholder="buscar equipos y herramientas" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar> -->
              <!-- <ion-item fill="outline">
                <ion-label position="floating" color="primary">Articulo</ion-label>
                <ion-textarea color="dark" type="text" name="articulo" [(ngModel)]="aspirante.asv_equipo" 
                  placeholder="Escribir los articulos y cantidad..." [autoGrow]="true"></ion-textarea>
              </ion-item> -->
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="ion-no-padding"></ion-col>
            <!-- <ion-chip color="primary" mode="ios" outline="true"> -->
              <!-- <ion-label>Default</ion-label> -->
              <!-- <ion-list> -->
                <ion-item (click)="eppselect.open()" style="width: 100%;" color="light" >
                  <ion-select aria-label="fruit" (ionChange)="setArticulo($event)" placeholder="Select fruit" mode="ios" hidden="true" #eppselect >
                    <ion-select-option *ngFor="let articulo of lista_epp" [value]="articulo" [disabled]="aspirante.asv_verificado"> {{articulo.codigo }}  - {{ articulo.item}} </ion-select-option>
                  </ion-select>
                  <!-- <ion-button expand="block" fill="clear" shape="round"> -->
                    <ion-label color="primary" class="ion-text-uppercase" style="text-decoration: underline;">
                      LISTA EPP
                    </ion-label>
                  <!-- </ion-button> -->
                  <ion-label style="" color="primary"><i>Articulos seleccionados: {{aspirante_epp.length}}</i></ion-label>
                </ion-item>
              <!-- </ion-list> -->

            <!-- </ion-chip> -->
            <ion-list style="border: 1px var(--ion-color-primary) solid; border-radius: 10px; width: 100%;"
              [hidden]="aspirante_epp.length==0">
              <ion-item *ngFor="let result of aspirante_epp; let i = index" [disabled]="aspirante.asv_verificado">
                <span>{{ result.codigo +' - '+ result.item }}</span>
                <ion-chip color="primary" mode="ios" outline="true" slot="end" >
                  <ion-label style="margin-right: 5px;">cant. </ion-label>
                  <ion-input type="number" [(ngModel)]="result.cantidad" style="width: 50px;"></ion-input>
                </ion-chip>
                <ion-button (click)="delArticulo(i)" slot="end" shape="round" fill="clear" color="danger">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ng-template>


    <ng-template swiperSlide>

      <!-- <ion-card color="light" >
        
        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">SUBIR DOCUMENTOS</ion-card-title>
        </ion-card-header>


        <ion-row>
          <ion-col size="6">
            <ion-label style="margin: 1em;"> <b>Inducción de seguridad y salud en el trabajo</b> </ion-label>
            <ion-item [hidden]="aspirante.amv_verificado == true || rol != 'medi' || subiendoFicha" class="item-file"
              [style.--background]="(existeFicha)?'var(--ion-color-success)':'#ffffff'"
              [style.opacity]="(existeFicha)?0.9:1">
              <ion-input (change)="fileChange($event,1)" type="file" accept=".xls,.xlsx,.pdf" [disabled]="subiendoFicha"
                style="position: absolute; font-size: 0.9rem;" [hidden]="subiendoFicha"
                [color]="(subiendoFicha)?'medium':'primary'">
              </ion-input>
              <ion-icon slot="end" name="checkmark-circle" size="large" color="primary" [hidden]="!existeFicha"
                style="margin: 0;"></ion-icon>

            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-label style="margin: 1em;"><b>Procedimiento escrito de trabajo seguro</b> </ion-label>
            <ion-item [hidden]="aspirante.amv_verificado == true || rol != 'medi' || subiendoFicha" class="item-file"
              [style.--background]="(existeFicha)?'var(--ion-color-success)':'#ffffff'"
              [style.opacity]="(existeFicha)?0.9:1">
              <ion-input (change)="fileChange($event,1)" type="file" accept=".xls,.xlsx,.pdf" [disabled]="subiendoFicha"
                style="position: absolute; font-size: 0.9rem;" [hidden]="subiendoFicha"
                [color]="(subiendoFicha)?'medium':'primary'">
              </ion-input>
              <ion-icon slot="end" name="checkmark-circle" size="large" color="primary" [hidden]="!existeFicha"
                style="margin: 0;"></ion-icon>

            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-label style="margin: 1em;"><b>Certificación de competencias en prevención de riesgos laborales</b>
            </ion-label>
            <ion-item [hidden]="aspirante.amv_verificado == true || rol != 'medi' || subiendoFicha" class="item-file"
              [style.--background]="(existeFicha)?'var(--ion-color-success)':'#ffffff'"
              [style.opacity]="(existeFicha)?0.9:1">
              <ion-input (change)="fileChange($event,1)" type="file" accept=".xls,.xlsx,.pdf" [disabled]="subiendoFicha"
                style="position: absolute; font-size: 0.9rem;" [hidden]="subiendoFicha"
                [color]="(subiendoFicha)?'medium':'primary'">
              </ion-input>
              <ion-icon slot="end" name="checkmark-circle" size="large" color="primary" [hidden]="!existeFicha"
                style="margin: 0;"></ion-icon>

            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-label style="margin: 1em;"><b>Entrenamiento en el puesto de trabajo</b></ion-label>
            <ion-item [hidden]="aspirante.amv_verificado == true || rol != 'medi' || subiendoFicha" class="item-file"
              [style.--background]="(existeFicha)?'var(--ion-color-success)':'#ffffff'"
              [style.opacity]="(existeFicha)?0.9:1">
              <ion-input (change)="fileChange($event,1)" type="file" accept=".xls,.xlsx,.pdf" [disabled]="subiendoFicha"
                style="position: absolute; font-size: 0.9rem;" [hidden]="subiendoFicha"
                [color]="(subiendoFicha)?'medium':'primary'">
              </ion-input>
              <ion-icon slot="end" name="checkmark-circle" size="large" color="primary" [hidden]="!existeFicha"
                style="margin: 0;"></ion-icon>

            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-label style="margin: 1em;"><b>Matriz de riesgos</b></ion-label>
            <ion-item [hidden]="aspirante.amv_verificado == true || rol != 'medi' || subiendoFicha" class="item-file"
              [style.--background]="(existeFicha)?'var(--ion-color-success)':'#ffffff'"
              [style.opacity]="(existeFicha)?0.9:1">
              <ion-input (change)="fileChange($event,1)" type="file" accept=".xls,.xlsx,.pdf" [disabled]="subiendoFicha"
                style="position: absolute; font-size: 0.9rem;" [hidden]="subiendoFicha"
                [color]="(subiendoFicha)?'medium':'primary'">
              </ion-input>
              <ion-icon slot="end" name="checkmark-circle" size="large" color="primary" [hidden]="!existeFicha"
                style="margin: 0;"></ion-icon>

            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-label style="margin: 1em;"><b>Evaluación de conocimientos en seguridad y salud en el trabajo</b>
            </ion-label>
            <ion-item [hidden]="aspirante.amv_verificado == true || rol != 'medi' || subiendoFicha" class="item-file"
              [style.--background]="(existeFicha)?'var(--ion-color-success)':'#ffffff'"
              [style.opacity]="(existeFicha)?0.9:1">
              <ion-input (change)="fileChange($event,1)" type="file" accept=".xls,.xlsx,.pdf" [disabled]="subiendoFicha"
                style="position: absolute; font-size: 0.9rem;" [hidden]="subiendoFicha"
                [color]="(subiendoFicha)?'medium':'primary'">
              </ion-input>
              <ion-icon slot="end" name="checkmark-circle" size="large" color="primary" [hidden]="!existeFicha"
                style="margin: 0;"></ion-icon>

            </ion-item>
          </ion-col>
        </ion-row>

      </ion-card> -->

      <ion-card>

        <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">
            <ion-icon name="cloud-upload"></ion-icon>
            {{(aspirante.asv_verificado==false)?'SUBIR ':'DESCARGAR '}} DOCUMENTOS DEL ASPIRANTE
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>


          <ion-row class="ion-align-items-end">

            <ion-col size="6">
              <app-file-formdata (setArchivo)="archivoListo($event,'Induccion')" [tarea]="'subirseguinduccion'"
                [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.asv_urlinduccionsst"
                [verificado]="aspirante.asv_verificado"
                [titulo]="'1. Inducción de seguridad y salud en el trabajo'"></app-file-formdata>
            </ion-col>

            <ion-col size="6">
              <app-file-formdata (setArchivo)="archivoListo($event,'Procedimiento')" [tarea]="'subirseguprocedimiento'"
                [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.asv_urlprocedimiento"
                [verificado]="aspirante.asv_verificado"
                [titulo]="'2. Procedimiento escrito de trabajo seguro'"></app-file-formdata>
            </ion-col>

            <ion-col size="6">
              <app-file-formdata (setArchivo)="archivoListo($event,'Certificacion')" [tarea]="'subirsegucertificacion'"
                [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.asv_urlcertificacion"
                [verificado]="aspirante.asv_verificado"
                [titulo]="'3. Certificación de competencias en prevención de riesgos laborales'"></app-file-formdata>
            </ion-col>

            <ion-col size="6">
              <app-file-formdata (setArchivo)="archivoListo($event,'Entrenamiento')" [tarea]="'subirseguentrenamiento'"
                [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.asv_urlentrenamiento"
                [verificado]="aspirante.asv_verificado"
                [titulo]="'4. Entrenamiento en el puesto de trabajo'"></app-file-formdata>
            </ion-col>

            <ion-col size="6">
              <app-file-formdata (setArchivo)="archivoListo($event,'Matrizriesgos')" [tarea]="'subirsegumatrizriesgos'"
                [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.asv_urlmatrizriesgos"
                [verificado]="aspirante.asv_verificado" [titulo]="'5. Matriz de riesgos'"></app-file-formdata>
            </ion-col>

            <ion-col size="6">
              <app-file-formdata (setArchivo)="archivoListo($event,'Evaluacion')" [tarea]="'subirseguevaluacion'"
                [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.asv_urlevaluacion"
                [verificado]="aspirante.asv_verificado"
                [titulo]="'6. Evaluación de conocimientos en seguridad y salud en el trabajo'"></app-file-formdata>
            </ion-col>

          </ion-row>

        </ion-card-content>

      </ion-card>

    </ng-template>

  </swiper>
</ion-content>

<ion-footer class="ion-padding" [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()" fill="outline" color="danger" slot="start">
        Cancelar
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <div style="display: inline-flex;" slot="secondary">
        <ion-fab-button size="small" (click)="setSlide(0)" [color]="(selectSlide==0)?'warning':'light'">
          <ion-text color="primary">
            <b>1</b>
          </ion-text>
        </ion-fab-button>
        <ion-fab-button size="small" (click)="setSlide(1)" [color]="(selectSlide==1)?'warning':'light'">
          <ion-text color="primary">
            <b>2</b>
          </ion-text>
        </ion-fab-button>
        <ion-fab-button size="small" (click)="setSlide(2)" [color]="(selectSlide==2)?'warning':'light'">
          <ion-text color="primary">
            <b>3</b>
          </ion-text>
        </ion-fab-button>
      </div>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()" expand="block" slot="end" fill="solid" color="primary">
        Finalizar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>