<div style="text-align: center;">

  <ion-label>Archivo de {{titulo}}</ion-label>

  <ion-item class="item-file" [style.--background]="(existeArchivo)?'var(--ion-color-warning)':'#ffffff'" [hidden]="verificado"
    [style.opacity]="(subiendoArchivo)?0.9:1" button="true" (dragover)="onDragEnter($event)" (dragenter)="onDragOver($event)" (drop)="fileChange($event,true)" (click)="uploader.click()">
    <!-- <ion-input (change)="fileChange($event,0)" type="file" accept=".xls,.xlsx,.pdf" #uploader
      [disabled]="subiendoRegistro" style="position: absolute; font-size: 0.9rem; display: none;"
      [color]="(subiendoRegistro)?'medium':'primary'">
    </ion-input> -->
    <div [hidden]="subiendoArchivo || dragArchivo" style="display: inline-flex;">

      <input (change)="fileChange($event)" type="file" accept=".xls,.xlsx,.pdf" id="uploader" #uploader
        [disabled]="subiendoArchivo" style="font-size: 12px; display: none;" />
      <ion-icon slot="end" name="checkmark-circle" size="large" color="primary" [hidden]="!existeArchivo"
        style="margin: 0;"></ion-icon>
      <div>
        <!-- <ion-label *ngIf="!existeRegistro" ><i> seleccione archivo...</i></ion-label> -->
        <ion-label *ngIf="!subiendoArchivo"><i> {{nombreArchivo}} </i></ion-label>
        <ion-label style="font-size: 12px;"> Haz clic aqui para seleccionar un archivo</ion-label>
      </div>

    </div>

    <div [hidden]="!subiendoArchivo"
      style="display:flex; align-items: center; justify-content: right; font-size: 12px; height: 3rem; padding: 5px;">
      <!-- <ion-skeleton-text animated class="subir-skeleton"> </ion-skeleton-text> -->
      <ion-label class="subir-label"> ...subiendo {{titulo}}
        <!-- <ion-spinner name="crescent" color="success" style="margin-right:10px; margin-left:10px;"></ion-spinner> -->
      </ion-label>
      <ion-progress-bar type="indeterminate" color="primary" style="margin-top: auto;"></ion-progress-bar>
    </div>


    <div [hidden]="!dragArchivo" class="file-drag ion-padding">
      <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
      <!-- <ion-skeleton-text animated class="subir-skeleton"> </ion-skeleton-text> -->
      <ion-label class="subir-label"> Suelte AQUI el archivo para cargarlo
        <!-- <ion-spinner name="crescent" color="success" style="margin-right:10px; margin-left:10px;"></ion-spinner> -->
      </ion-label>
      <!-- <ion-progress-bar type="indeterminate" color="warning" style="margin-top: auto;"></ion-progress-bar> -->
    </div>

  </ion-item>

  <ion-button (click)="descargarArchivo()" expand="block" shape="round" [hidden]="!urlarchivo">
    Descargar {{titulo}}
  </ion-button>

</div>