<ion-header>
  <ion-toolbar>
    <ion-title>

      <ion-label> Departamento de Psicologia </ion-label>
      <ion-chip color="primary" mode="ios" outline="true" *ngIf="numNotificaciones" (click)="listarAspirantes()">
        <!-- <ion-label>Default</ion-label> -->
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" mode="ios">
          {{numNotificaciones}}
        </ion-badge>
      </ion-chip>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">

      <ion-col size="8">

        <ion-toolbar>

          <ion-radio-group [value]="estado" (ionChange)="setEstado($event)" style="width: 100%; display:inline-flex; font-size: 0.8rem;">

            <ion-item >

              <ion-chip color="success" mode="ios" outline="true">
                <ion-label >EN ESPERA</ion-label>
                <ion-radio [value]="0" style="margin: 0px 0px 5px 10px; height: 2rem;" color="primary" ></ion-radio>
              </ion-chip>
              
              <ion-chip color="primary" mode="ios" outline="true">
                <ion-label >APROBADOS</ion-label>
                <ion-radio [value]="1" style="margin: 0px 0px 5px 10px; height: 2rem;" color="primary" ></ion-radio>
              </ion-chip>
              
              <ion-chip color="danger" mode="ios" outline="true">
                <ion-label >NO APROBADOS</ion-label>
                <ion-radio [value]="2" style="margin: 0px 0px 5px 10px; height: 2rem;" color="primary" ></ion-radio>
              </ion-chip>

            </ion-item>

          </ion-radio-group>

          <ion-buttons slot="end" >
            <ion-button (click)="updatePagina(-1)" slot="icon-only" color="primary" fill="clear" [disabled]="contPagina<1" >
              <ion-icon name="arrow-back-outline" ></ion-icon>
            </ion-button>
            <ion-label>Pagina {{contPagina+1}}/{{numPaginas}}</ion-label>
            <ion-button (click)="updatePagina(1)" slot="icon-only" color="primary" fill="clear" [disabled]="(contPagina+1)*4>=listaTareas.length">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

        </ion-toolbar>

        <ion-list style="margin-right: 10px; margin-top: 0px;">

          <ion-card *ngFor="let item of aspirantesNuevo; let i = index" button="true" (click)="opcionesTarea(item)" color="light"
            style="color: #071f3b; padding: 5px; margin-bottom: 1rem;" >
            <app-item-aspirante [aspirante]="item" [index]="i+(contPagina*4)" >

            </app-item-aspirante>
          </ion-card>
        </ion-list>

        <!-- <ion-item *ngFor="let item of aspirantesNuevo" style="font-size: 0.8rem; color: #071f3b; ">
        </ion-item> -->


      </ion-col>

      <ion-col size="4" style="height: 100%; background: #d7d8da;">

        <app-buscar-aspirante [departamento]="'psicologia'"></app-buscar-aspirante>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>