

.item-file {
    height: 50px;
    --border-radius: 10px;
    ion-label {
      right: 5%;
      margin-bottom: 0px;
    }
  }

  
.subir-skeleton {
    --border-radius: 10px;
    --background: rgba(20, 135, 70, 0.882);
    --background-rgb: 20, 135, 70;
    border: 1px #2dd36f solid;
    height: 50px;
  }
  
  .subir-label {
    position: absolute;
    align-items: center;
    display: inline-flex;
    opacity: 1 !important;
    font-style: italic;
    color: #00822d;
    margin-right: 5px;
  }

 


