<ion-header>
  <ion-toolbar>
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="assets/icon/person.png" />
      </ion-avatar>
      <!-- <p class="ion-margin"> -->

      <ion-item color="primary" class="ion-no-padding" style="width: 100%;">

        <ion-label>
          <p style="font-size: 1rem; margin-top: 10px;">
            {{aspirante.asp_nombre}}
            <br>
            <i>{{aspirante.asp_cargo}}</i>
          </p>
        </ion-label>
        <ion-badge color="light" style="right: 0;" mode="ios" slot="end"> CI: {{aspirante.asp_cedula}}</ion-badge>
        <!-- <ion-label><i>{{aspirante.asp_cargo}}</i></ion-label> -->
      </ion-item>

    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" >
  <p style="margin-bottom: 1em;">
    Seleccione los elementos respectivos sobre la informacion legal del
    <i>Apirante</i> que han sido validados por el departamento de Talento Humano.<br>
    <ion-text color="danger" style="font-size: small;">
      <!-- <h1>Awesome text</h1> -->
      <i>* Deben estar todos los campos validados para proceder a entrevista con el psicologo.</i>
    </ion-text>
  </p>


  <ion-item [disabled]="aspirante.atv_verificado">
    <ion-label>Posee procesos legales pendientes</ion-label>
    <ion-toggle [(ngModel)]="aspirante.atv_plegales" [checked]="aspirante.atv_plegales"
      (ionChange)="cambiarCheckbox('atv_plegales',$event)" slot="end"></ion-toggle>
    <!-- <ion-checkbox [(ngModel)]="aspirante.atv_plegales" [checked]="aspirante.atv_plegales"
      (ionChange)="cambiarCheckbox('atv_plegales',$event)" slot="end"></ion-checkbox> -->
    <!-- <ion-toggle slot="start"></ion-toggle> -->
  </ion-item>


  <ion-item [disabled]="aspirante.atv_verificado">
    <ion-label>Registra proces en Fiscalía General del Estado </ion-label>
    <ion-toggle [(ngModel)]="aspirante.atv_pfiscalia" [checked]="aspirante.atv_pfiscalia"
      (ionChange)="cambiarCheckbox('atv_pfiscalia',$event)" slot="end"></ion-toggle>
    <!-- <ion-checkbox [(ngModel)]="aspirante.atv_pfiscalia" [checked]="aspirante.atv_pfiscalia"
      (ionChange)="cambiarCheckbox('atv_pfiscalia',$event)" slot="end"></ion-checkbox> -->
  </ion-item>


  <ion-item [disabled]="aspirante.atv_verificado">
    <ion-label>Existen antecedentes penales</ion-label>
    <ion-toggle [(ngModel)]="aspirante.atv_ppenales" [checked]="aspirante.atv_ppenales"
      (ionChange)="cambiarCheckbox('atv_ppenales',$event)" slot="end"></ion-toggle>
    <!-- <ion-checkbox [(ngModel)]="aspirante.atv_ppenales" [checked]="aspirante.atv_ppenales"
      (ionChange)="cambiarCheckbox('atv_ppenales',$event)" slot="end"></ion-checkbox> -->
  </ion-item>


  <ion-item [disabled]="aspirante.atv_verificado">
    <ion-label>Referencias laborales correctas?</ion-label>
    <ion-toggle [(ngModel)]="aspirante.atv_plaborales" [checked]="aspirante.atv_plaborales"
      (ionChange)="cambiarCheckbox('atv_plaborales',$event)" slot="end"></ion-toggle>
    <!-- <ion-checkbox [(ngModel)]="aspirante.atv_plaborales" [checked]="aspirante.atv_plaborales"
      (ionChange)="cambiarCheckbox('atv_plaborales',$event)" slot="end"></ion-checkbox> -->
  </ion-item>

  <div>
    <ion-list>

      <ion-radio-group [(ngModel)]="aspirante.atv_aprobado" [value]="aspirante.atv_aprobado"
        (ionChange)="setAprobado($event)" style="display: flex;">

        <ion-item [disabled]="aspirante.atv_verificado">
          <ion-label color="primary">APROBADO</ion-label>
          <ion-radio slot="start" value="SI" mode=""></ion-radio>
        </ion-item>

        <ion-item [disabled]="aspirante.atv_verificado">
          <ion-label color="danger">NO APROBADO</ion-label>
          <ion-radio value="NO" slot="start" mode=""></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>


    <!-- <ion-item [hidden]="" [disabled]="aspirante.atv_verificado"> -->
    <!-- <ion-row > -->
    <!-- <ion-col size=""> -->

    <app-list-observacion [observaciones]="listaObservaciones" [verificado]="aspirante.atv_verificado">

    </app-list-observacion>


    <!-- <ion-textarea class="" [(ngModel)]="aspirante.atv_observacion" [value]="aspirante.atv_observacion" type="text"
            name="atv_observacion" placeholder="Comentarios y observaciones" (ionChange)="editObservacion($event)">
          </ion-textarea> -->

    <!-- </ion-col> -->
    <!-- </ion-row> -->
    <!-- </ion-item> -->

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="cerrarModal()" expand="block" fill="clear" color="danger">
      Cancelar
    </ion-button>
    <ion-button [hidden]="aspirante.atv_verificado" (click)="presentAlert()" expand="block" slot="end" fill="solid"
      color="primary">
      Finalizar
    </ion-button>
  </ion-toolbar>
</ion-footer>