<ion-header>
  <ion-toolbar>
    <ion-title>aspirante-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>

      <ion-col size="4">
        <ion-card class="card-list">
          <ion-card-header color="primary">
            <ion-card-title class="ion-text-center">Ultimos ingresos</ion-card-title>
            <!-- <ion-card-subtitle>Listado de los ultimos 10 empleados ingresados</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <!-- <canvas style="background-color: #f4f5f8ec;" #barChart height="150"></canvas> -->
          </ion-card-content>
        </ion-card>
        <ion-card class="card-list">
          <ion-card-header color="primary">
            <ion-card-title class="ion-text-center">Contratos por finalizar</ion-card-title>
            <!-- <ion-card-subtitle>Listado de los ultimos 10 empleados ingresados</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <!-- <canvas style="background-color: #f4f5f8ec;" #barChart height="150"></canvas> -->
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="4">
        <ion-card class="card-chart">
          <ion-card-header color="warning">
            <ion-card-title class="ion-text-center">Total trabajadores ({{numAspirantes}})</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas style="background-color: #ffffff;" #pieChart1 ></canvas>
            <!-- <ion-card-subtitle>Trabajadores: {{numAspirantes}}</ion-card-subtitle> -->
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="4">
        <ion-card style="height: 59%;">
          <ion-card-header color="warning">
            <ion-card-title class="ion-text-center">Areas de trabajo</ion-card-title>
          </ion-card-header>
          <ion-card-content >
            <canvas style="background-color: #ffffff;" #pieChart2 ></canvas>
            <!-- <ion-card-subtitle>Trabajadores: {{numAspirantes}}</ion-card-subtitle> -->
          </ion-card-content>
        </ion-card>
        <ion-card style="height: 39%;">
          <ion-card-header color="warning">
            <ion-card-title class="ion-text-center">Histograma de contratos</ion-card-title>
          </ion-card-header>
          <ion-card-content >
            <!-- <canvas style="background-color: #ffffff;" #pieChart2 ></canvas> -->
            <!-- <ion-card-subtitle>Trabajadores: {{numAspirantes}}</ion-card-subtitle> -->
          </ion-card-content>
        </ion-card>

      </ion-col>

      <!-- <ion-col size="4">
        <ion-card class="card-chart">
          <ion-card-header color="warning">
            <ion-card-title class="ion-text-center">Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas style="background-color: #f4f5f8ec;" #barChart1 ></canvas>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          </ion-card-content>
        </ion-card>

      </ion-col> -->


    </ion-row>
  </ion-grid>


</ion-content>