<ion-header>
  <ion-toolbar>
    <ion-title>Proceso de contracion :: Resumen</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="updateData()">
        <ion-icon slot="start" name="add"></ion-icon>
        Actualizar
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size="4" class="col-chart">
        <ion-card class="card-list">
          <ion-card-header color="primary" class="chart-card-header">
            <ion-card-title class="ion-text-center">Ultimos ingresos</ion-card-title>
            <!-- <ion-card-subtitle>Listado de los ultimos 10 empleados ingresados</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content class="chart-card-content">

            <div class="div-loading" *ngIf="isLoading==true">
              <ion-spinner name="crescent"></ion-spinner>
            </div>

            <ion-list class="ion-no-padding">

              <ion-item *ngFor="let item of aspirantesNuevo; let i = index" id="{{'item-' + i}}" class="ion-no-padding"
                style="font-size: 12px;">
                <ion-badge slot="start">{{getDiasIngreso(item.asp_fch_ingreso)}} dias</ion-badge>
                <ion-label>{{item.asp_nombre}}</ion-label>
                <ion-button slot="end" expand="block" fill="clear" shape="round" (click)="abrirModal(item)">
                  <ion-icon slot="icon-only" name="search"></ion-icon>
                </ion-button>
              </ion-item>

              <ion-modal [isOpen]="isModalOpen" class="modal-aspirante" (willDismiss)="cerrarModal()">
                <ng-template>
                  <ion-header>
                    <ion-toolbar color="primary" style="border: 3px white solid; border-radius: 15px 15px 0 0;">
                      <ion-grid fixed>

                        <ion-row style="padding: 10px 10px; height: 80px;">

                          <ion-col size="2" style="display: flex; padding: 0px 5px 0px 0px;">
                            <ion-avatar style="--border-radius:20px; margin: 0 auto; border: 2px #ffffffc0 solid;">
                              <img
                                [src]="aspiranteSelect?.asp_url_foto.replace('..', 'https://getssoma.com') ||'assets/icon/person.png'" />
                            </ion-avatar>
                          </ion-col>

                          <ion-col size="10" style="display: inline-flex;">
                            <span>
                              <ion-label style="font-size: 1.9rem; margin-bottom: 1rem;">PROCESO DE SELECCIÓN DE
                                PERSONAL</ion-label> <br>
                              <ion-label
                                style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden !important; font-size: 1.1rem; font-weight: 500;">{{aspiranteSelect.asp_nombre}}</ion-label>
                            </span>
                          </ion-col>
                        </ion-row>


                        <ion-row style="border-top: 2px #ffffff90 solid; margin-top: 5px; padding: 5px 1rem;">

                          <ion-col size="6">
                            <span style="display: inline-grid;">
                              <ion-label style="font-size: 0.8rem;">
                                <ion-icon name="business-outline"> </ion-icon>
                                PROMINE
                              </ion-label>
                              <ion-label style="font-size: 0.8rem;">
                                <ion-icon name="heart-circle"> </ion-icon>
                                DEPARTAMENTO DE RECURSOS HUMANOS
                              </ion-label>
                              <ion-label style="font-size: 0.8rem;">
                                <ion-icon name="id-card-outline"> </ion-icon>
                                N° Cédula: {{aspiranteSelect.asp_cedula}}
                              </ion-label>
                              <ion-label style="font-size: 0.8rem;">
                                <ion-icon name="ribbon-outline"> </ion-icon>
                                Cargo: <i>{{aspiranteSelect.asp_cargo}}</i>
                              </ion-label>
                            </span>
                          </ion-col>

                          <ion-col size="6">
                            <span style="display: inline-grid;">
                              <ion-label style="font-size: 0.8rem;">
                                <ion-icon name="information-circle"> </ion-icon>
                                Teléfono: {{aspiranteSelect.asp_telefono}}
                              </ion-label>
                              <ion-label style="font-size: 0.8rem;">
                                <ion-icon name="finger-print"> </ion-icon>
                                Correo: {{aspiranteSelect.asp_correo}}
                              </ion-label>
                              <ion-label style="font-size: 0.8rem;">
                                <ion-icon name="male-female-outline"> </ion-icon>
                                Sexo: {{aspiranteSelect.asp_sexo}}
                              </ion-label>
                              <ion-label style="font-size: 0.8rem;">
                                <ion-icon name="hourglass"> </ion-icon>
                                Dirección: {{aspiranteSelect.asp_direccion}}
                              </ion-label>
                            </span>
                          </ion-col>
                        </ion-row>
                      </ion-grid>



                    </ion-toolbar>
                    <ion-item >
                      <!-- <ion-skeleton-text class="skeleton-text" [style.width]="getProgreso() + '%'" animated="true"></ion-skeleton-text> -->
                      <!-- <div style="width: 100%;"> -->

                        <!-- <div style="display: flex; align-items: center;"> -->
                          <ion-progress-bar class="progreso-bar" type="determinate" [value]="getProgreso()*0.01"
                            [buffer]="(getProgreso()*0.01)"></ion-progress-bar>
                          <ion-label style="position:fixed; margin-left: 1rem;">Progreso {{getProgreso()}}%</ion-label>
                        <!-- </div> -->

                      <!-- </div> -->
                    </ion-item>
                  </ion-header>

                  <ion-content class="ion-padding">


                    <ion-list>
                      <ion-list-header color="primary">
                        <ion-label>Historial del proceso</ion-label>
                        <!-- <ion-button>Ver todo</ion-button> -->
                      </ion-list-header>
                      <ion-item>
                        <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
                        <ion-label>Fecha de ingreso: <b>{{aspiranteSelect.asp_fch_ingreso}}</b></ion-label>
                      </ion-item>
                      <ion-item *ngIf="!!aspiranteSelect.atv_fverificado">
                        <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
                        <ion-label>Verificado por Talento Humano: <b>{{aspiranteSelect.atv_fverificado}}</b></ion-label>
                      </ion-item>
                      <ion-item *ngIf="!!aspiranteSelect.amv_fverificado">
                        <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
                        <ion-label>Verificado por Area Medicina: <b>{{aspiranteSelect.amv_fverificado}}</b></ion-label>
                      </ion-item>
                      <ion-item *ngIf="!!aspiranteSelect.apv_fverificado">
                        <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
                        <ion-label>Verificado por Area Psicologia:
                          <b>{{aspiranteSelect.apv_fverificado}}</b></ion-label>
                      </ion-item>
                      <ion-item *ngIf="!!aspiranteSelect.alv_fverificado">
                        <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
                        <ion-label>Verificado por Departamento Legal:
                          <b>{{aspiranteSelect.alv_fverificado}}</b></ion-label>
                      </ion-item>
                      <ion-item *ngIf="!!aspiranteSelect.asv_fverificado">
                        <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
                        <ion-label>Verificado por Seguridad Ocupacional:
                          <b>{{aspiranteSelect.asv_fverificado}}</b></ion-label>
                      </ion-item>
                      <ion-item *ngIf="!!aspiranteSelect.aov_fverificado">
                        <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
                        <ion-label>Verificado por Trabajo Social: <b>{{aspiranteSelect.aov_fverificado}}</b></ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-content>
                  <ion-footer>
                    <ion-toolbar>
                      <!-- <div> -->
                        <ion-label color="success" style="font-size: 1rem; margin: 10px;">Estado:
                          <i>{{aspiranteSelect.est_descripcion}}.</i></ion-label>
                      <!-- </div> -->
                      <ion-button (click)="cerrarModal()" expand="block" fill="outline" slot="end" style="margin-right: 10px;">
                        Cerrar
                      </ion-button>
                    </ion-toolbar>
                  </ion-footer>
                </ng-template>
              </ion-modal>


            </ion-list>

            <!-- <canvas style="background-color: #f4f5f8ec;" #barChart height="150"></canvas> -->
          </ion-card-content>
        </ion-card>
        <ion-card class="card-list">
          <ion-card-header color="primary" class="chart-card-header">
            <ion-card-title class="ion-text-center">Contratos por finalizar</ion-card-title>
            <!-- <ion-card-subtitle>Listado de los ultimos 10 empleados ingresados</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content class="chart-card-content">

            <div class="div-loading" *ngIf="isLoading==true">
              <ion-spinner name="crescent"></ion-spinner>
            </div>

            <ion-list class="ion-no-padding">

              <ion-item *ngFor="let item of aspirantesFin; let i = index" id="{{'item-' + i}}" class="ion-no-padding"
                style="font-size: 12px;" >
                <ion-badge slot="start" [color]="(getDiasFin(item.asp_fch_fin)<=15)?'danger':''" >{{getDiasFin(item.asp_fch_fin)}} dias</ion-badge>
                <ion-label>{{item.asp_nombre}}</ion-label>
                <ion-button slot="end" expand="block" fill="clear" shape="round" (click)="alertFecha(item)">
                  <ion-icon slot="icon-only" name="alarm"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

            <!-- <canvas style="background-color: #f4f5f8ec;" #barChart height="150"></canvas> -->
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="4" class="col-chart">
        <ion-card class="card-chart">
          <ion-card-header color="warning" class="chart-card-header">
            <ion-card-title class="ion-text-center">Total trabajadores ({{numAspirantes}})</ion-card-title>
          </ion-card-header>
          <ion-card-content class="chart-card-content">
            <div class="div-loading" *ngIf="isLoading==true">
              <ion-spinner name="crescent"></ion-spinner>
            </div>
            <canvas #pieChart1></canvas>
            <!-- <ion-card-subtitle>Trabajadores: {{numAspirantes}}</ion-card-subtitle> -->
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="4" class="col-chart">

        <ion-card>
          <!-- <ion-card-header color="warning" class="chart-card-header">
            <ion-card-title class="ion-text-center">Areas de trabajo</ion-card-title>
          </ion-card-header> -->
          <ion-card-content>
            <div class="div-loading" *ngIf="isLoading==true">
              <ion-spinner name="crescent"></ion-spinner>
            </div>
            <canvas style="background-color: #ffffff;" #pieChart2></canvas>
            <!-- <ion-card-subtitle>Trabajadores: {{numAspirantes}}</ion-card-subtitle> -->
          </ion-card-content>
        </ion-card>

        <!-- <ion-card style="height: 39%;">
          <ion-card-header color="warning" class="chart-card-header">
            <ion-card-title class="ion-text-center">Histograma de contratos</ion-card-title>
          </ion-card-header>
          <ion-card-content >
            <div class="div-loading" *ngIf="isLoading==true">
              <ion-spinner name="crescent" ></ion-spinner>
            </div>

          </ion-card-content>
        </ion-card> -->

      </ion-col>

      <!-- <ion-col size="4">
        <ion-card class="card-chart">
          <ion-card-header color="warning">
            <ion-card-title class="ion-text-center">Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas style="background-color: #f4f5f8ec;" #barChart1 ></canvas>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          </ion-card-content>
        </ion-card>

      </ion-col> -->


    </ion-row>
  </ion-grid>


</ion-content>