ion-grid {
    //--ion-grid-padding: 20px;
    //--ion-grid-column-padding: 20px:
}

.card-chart {
    height: 100%;
    // padding-bottom: 10px;
}

.card-list {
    height: 55%;
}

.div-loading {
    position: fixed;
    display: inline-flex;
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    ion-spinner {
        height: 50px;
        width: 50px;
    }
}

.chart-card-content {
    // align-items: center;
    display: block;
    // justify-content: center;
    // width: 100%;
    height: fit-content !important;
    padding: 0px 20px 0px 20px;
    margin: 0;
    //padding: 10px;
}

.chart-card-header {
    padding: 10px;
    position: sticky;
}

ion-col.col-chart {
    // display: inline-flex;
    height: 350px;
    // height: 50%;
}

canvas {
    //width: 90%;
    max-height: 100%;
    display: block;
    background-color: #ffffff;
    // margin: 5px auto 5px auto;
    //padding: 5px;
    // height: 100%;
    // width: 80%;
}

.modal-aspirante {
    --min-width: 60%;
    --background: transparent;
}

.skeleton-text {
    //width: 60%;
    height: 2rem;
    opacity: 1 !important;
    background-color: rgba(255, 198, 9, 0.9);
    // --background: rgba(7, 31, 59, 0.8) !important;
    // --background-rgb: 7, 31, 59;
}

.progreso-bar {
    //--background: #f3e895;
    //--progress-background: #09c567;
    height: 2rem;
    --background: var(--ion-color-primary);
}

ion-progress-bar.progreso-bar::part(track) {
    background: #f3e895;
}

ion-progress-bar.progreso-bar::part(progress) {
    background: var(--ion-color-success);
}

ion-progress-bar.progreso-bar::part(stream) {
    //background-image: radial-gradient(ellipse at center, #e475f3 0%, #e475f3 30%, transparent 30%);
    //font-size: 20px;
}
