<ion-header>
  <ion-toolbar style="--background: #ffcb22c2; height: 3rem;">

    <ion-breadcrumbs color="primary" slot="start" style="background: #ffffff90; border-radius: 20px 20px 0 0;">

      <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/inicio-home']" routerLinkActive="router-link-active">Inicio
      </ion-breadcrumb>

      <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/aspirante-home']" routerLinkActive="router-link-active">
        General
      </ion-breadcrumb>

      <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/principal-th']" routerLinkActive="router-link-active">
        Talento Humano
      </ion-breadcrumb>

      <ion-button expand="block"  shape="round" class="boton-nuevo"
        [routerLink]="['/inicio/tab-aspirante/aspirante-new']" routerLinkActive="router-link-active">
        <ion-icon name="add"></ion-icon> NUEVO 
      </ion-button>
    </ion-breadcrumbs>
    <!-- <ion-title>
      <ion-label> <b> Departamento de Talento Humano </b> </ion-label>
    </ion-title> -->

  </ion-toolbar>
</ion-header>


<ion-content style="border-bottom: 10px solid #071F3B; border-top: 5px solid #071f3bd7;" scroll="false" class="">

  <ion-grid style="height: 100%;" class="ion-no-padding">
    <ion-row style="height: 100%;">

      <ion-col size="9">
        <ion-content style="height: 100%;" scroll-y="false">

          <ion-header slot="fixed" style="">
            <ion-toolbar class="" color="primary">

              <div style="display: flex; height: 3rem;">
                <!-- <ion-title>Header</ion-title> -->
                <ion-item color="primary" style="width: 70%;">
                  <ion-label>Estado de solicitud</ion-label>
                  <ion-select interface="action-sheet" mode="ios" [value]="estado['id']" multiple="false"
                    placeholder="Seleccionar estado" style="" (ionChange)="setEstado($event)">
                    <ion-select-option *ngFor="let item of estados;" [value]="item['id']">{{item.grupo.toUpperCase()}}
                    </ion-select-option>
                    <!-- <ion-select-option value="2">VERIFICADOS</ion-select-option>
                <ion-select-option value="3">NO APROBADOS</ion-select-option> -->
                  </ion-select>
                </ion-item>

                <!-- <ion-toolbar > -->
                <ion-buttons slot="primary"
                  style="margin-right: 2rem; margin-left: auto; margin-top: 0px; background: var(--ion-color-light); font-size: 0.8rem; border-radius: 10px 10px 0 0;">
                  <ion-button (click)="updatePagina(-1)" slot="icon-only" color="primary" fill="clear"
                    [disabled]="contPagina<1">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                  </ion-button>
                  <ion-chip color="primary" mode="ios" outline="true">
                    <ion-icon name="document-outline"></ion-icon>
                    <ion-label>{{contPagina+1}}/{{numPaginas}}</ion-label>
                  </ion-chip>
                  <!-- <ion-label color="primary" style="display: contents; font-size: 0.9rem;"> 
                    <ion-icon slot="icon-only" name="document-outline" size="small" ></ion-icon>
                    {{contPagina+1}}/{{numPaginas}}
                  </ion-label> -->
                  <ion-button (click)="updatePagina(1)" slot="icon-only" color="primary" fill="clear"
                    [disabled]="(contPagina+1)*6>=listaTareas.length">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
              <!-- </ion-toolbar> -->

              <ion-radio-group [value]="estado.selected" style="font-size: 0.8rem;">

                <ion-item style="--background: var(--ion-color-light); display:contents;">
                  <ion-chip [color]="item.color" mode="ios" outline="true" *ngFor="let item of estado.estados"
                    style="background: #fff;">

                    <ion-badge color="danger" mode="ios" *ngIf="item.est_id==0"
                      style="margin-right: 0.3rem; padding: 3px 5px;">
                      {{numNotificaciones}}
                    </ion-badge>

                    <ion-badge [color]="item.color" mode="ios" *ngIf="item.est_id!=0 && item.est_id==estado.selected"
                      style="margin-right: 0.3rem; padding: 3px 5px;"> {{listaTareas.length}}
                      <!-- <ion-icon name="notifications"></ion-icon>{{numNotificaciones}} -->
                    </ion-badge>

                    <ion-label> {{item.estado.toUpperCase()}} </ion-label>
                    <ion-radio [value]="item.est_id" (click)="listarAspirantes(item)"
                      style="margin: 0px 0px 5px 10px; height: 2rem;" color="primary">
                    </ion-radio>
                  </ion-chip>
                  <ion-chip slot="end" [hidden]="(estado.selected==0)?true:false">
                    <ion-checkbox value="OK" mode="ios" style="margin-right: 5px;"
                      (ionChange)="mostrarHistorial($event)"></ion-checkbox>
                    <ion-label>Historial</ion-label>
                  </ion-chip>
                </ion-item>

              </ion-radio-group>


            </ion-toolbar>
          </ion-header>

          <ion-content class="content-items">
            <!-- <ion-list style="margin-right: 10px; margin-top: 0px;" *ngIf="(!loadingData && aspirantesNuevo.length)" > -->
            <ion-row class="ion-no-padding">

              <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="6" sizeXl="6" *ngFor="let item of [1,2,3,4];"
                [hidden]="!loadingData" style="padding: 10px 0px 5px 5px;">
                <ion-card [style.opacity]="1-(item*0.2)" class="">
                  <app-loading-aspirante style=""></app-loading-aspirante>
                </ion-card>
              </ion-col>
            </ion-row>

            <!-- <ion-grid fixed class="ion-no-padding"> -->
            <ion-row>
              <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="6" sizeXl="6"
                *ngFor="let item of aspirantesNuevo; let i = index" class="ion-no-padding">
                <ion-card class="card-aspirante">
                  <app-item-aspirante [aspirante]="item" [index]="i+(contPagina*6)" (clicOpciones)="showOpciones(item)"
                    class="item-content">
                  </app-item-aspirante>
                </ion-card>
              </ion-col>
              <!-- <ion-col size="6"></ion-col> -->
            </ion-row>
            <!-- </ion-grid> -->

            <!-- </ion-list> -->

            <ion-item style="margin: 10px; font-style: italic; background: transparent !important;"
              *ngIf="(aspirantesNuevo.length==0 && !loadingData)">
              <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
              <ion-label style="margin-left: 10px;">No hay tareas pendientes</ion-label>
            </ion-item>
          </ion-content>

        </ion-content>

      </ion-col>
      <ion-row>

        <ion-col size="12">

        </ion-col>
      </ion-row>

      <ion-col size="3"
        style="background: rgba(217, 217, 217, 0.3) !important; display: flow-root; border: 2px ridge #ffffffcd; ">
        <app-buscar-aspirante [departamento]="'legal'"></app-buscar-aspirante>
      </ion-col>

    </ion-row>



  </ion-grid>

</ion-content>