<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-label> Departamento de Talento Humano </ion-label>
      <ion-chip color="primary" mode="ios" outline="true" *ngIf="numNotificaciones" (click)="listarAspirantes()">
        <!-- <ion-label>Default</ion-label> -->
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" mode="ios">
          {{numNotificaciones}}
        </ion-badge>
      </ion-chip>


    </ion-title>
    
    
  </ion-toolbar>
  
  
</ion-header>

<ion-breadcrumbs color="primary">

  <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/inicio-home']" 
                  routerLinkActive="router-link-active">Inicio
  </ion-breadcrumb>

  <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/aspirante-home']" 
                  routerLinkActive="router-link-active">General
  </ion-breadcrumb>

  <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/principal-th']" 
                  routerLinkActive="router-link-active">Talento Humano
  </ion-breadcrumb>

</ion-breadcrumbs>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="options-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="bottom">

    <ion-fab-button [routerLink]="['/inicio/tab-aspirante/aspirante-new']" routerLinkActive="router-link-active"
      color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab-list>

</ion-fab>

<ion-content>

  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">

      <ion-col size="8">

        <ion-toolbar>
          <ion-item color="medium">
            <ion-label>Estado de solicitud</ion-label>
            <ion-select [value]="estado.est_id" multiple="false" placeholder="Seleccionar estado" style="width: 70%;"
              (ionChange)="listarAspirantes($event)">
              <ion-select-option *ngFor="let item of estados" [value]="item.est_id">{{item.est_nombre}}
              </ion-select-option>
              <!-- <ion-select-option value="2">VERIFICADOS</ion-select-option>
              <ion-select-option value="3">NO APROBADOS</ion-select-option> -->
            </ion-select>
          </ion-item>

          <!-- <ion-toolbar > -->
            <ion-buttons slot="end" >
              <ion-button (click)="updatePagina(-1)" slot="icon-only" color="primary" fill="clear" [disabled]="contPagina<1" >
                <ion-icon name="arrow-back-outline" ></ion-icon>
              </ion-button>
              <ion-label>Pagina {{contPagina+1}}</ion-label>
              <ion-button (click)="updatePagina(1)" slot="icon-only" color="primary" fill="clear" [disabled]="(contPagina+1)*4>=listaTareas.length">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          <!-- </ion-toolbar> -->

        </ion-toolbar>

        <ion-list style="margin-right: 10px; margin-top: 0px;">

          <ion-card *ngFor="let item of aspirantesNuevo; let i = index" button="true" (click)="opcionesTarea(item)" color="light"
            style="color: #071f3b; padding: 5px; margin-bottom: 1rem;" >
            <app-item-aspirante [aspirante]="item" [index]="i+(contPagina*4)" >

            </app-item-aspirante>
          </ion-card>
        </ion-list>

        <!-- <ion-item *ngFor="let item of aspirantesNuevo" style="font-size: 0.8rem; color: #071f3b; ">
        </ion-item> -->
 

      </ion-col>

      <ion-col size="4" style="height: 100%; background: #d7d8da;">

        <app-buscar-aspirante [departamento]="'tthh'"></app-buscar-aspirante>

      </ion-col>

    </ion-row>

  

  </ion-grid>

</ion-content>