ion-alert.alertExamenes div.alert-wrapper div.alert-head {
    height: 20%;
    text-align: center;
    background: #152ab8;
}

$test: 1%;
.content-items {
    //padding: 10px;
    //width: 95%;

    height: calc(85% - 1.5rem) !important;
    //height: calc(85% - (10px * 10%));
    //--background: rgb(245, 183, 183) !important;
    //border-right: 10px double #ededed;
    //border-top: 8px solid #ededed;
    //border-bottom: 8px solid #ededed;
    //position:relative;
    //padding: 0;
    //--padding-top:10rem;
    top: 4 * 1.5rem !important;
    //bottom:5rem;
    //padding-bottom:2rem;
    //bottom:0rem;
    //margin-top: auto;
}
