ion-alert.alertExamenes div.alert-wrapper div.alert-head {
    height: 20%;
    text-align: center;
    background: #152ab8;
}

.content-items {
    //padding: 10px;
    //width: 95%;
    height: 85%;
    //border-right: 10px double #ededed;
    //border-top: 8px solid #ededed;
    //border-bottom: 8px solid #ededed;
    //position:relative;
    //padding: 0;
    //--padding-top:10rem;
    top:15% !important;
    //bottom:5rem;
    //padding-bottom:2rem;
    //bottom:0rem;
    //margin-top: auto;
}
