<ion-header>
  <ion-toolbar color="primary" style="border: 3px white solid; border-radius: 15px 15px 0 0;">
    <ion-grid fixed>

      <ion-row style="padding: 10px 10px; height: 80px;">

        <ion-col size="2" style="display: flex; padding: 0px 5px 0px 0px;">
          <ion-avatar style="--border-radius:20px; margin: 0 auto; border: 2px #ffffffc0 solid;">
            <img src="assets/icon/person.png" />
          </ion-avatar>
        </ion-col>

        <ion-col size="10" style="display: inline-flex;">
          <span style="display: inline-grid;">
            <ion-label style="font-size: 1.9rem; margin-bottom: 1rem;">PROCESO DE SELECCIÓN DE PERSONAL</ion-label>
            <ion-label style="margin: auto 0px; text-overflow: ellipsis; white-space: nowrap;
                                overflow: hidden !important; font-size: 1.1rem; font-weight: 500;">
              {{aspirante.asp_nombre}}
            </ion-label>
          </span>
        </ion-col>
      </ion-row>

      <ion-row style="border-top: 2px #ffffff90 solid; margin-top: 5px; padding: 5px 1rem;">

        <ion-col size="6">
          <span style="display: inline-grid;">

            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="ribbon-outline"> </ion-icon>
              N° cédula: <i>{{aspirante.asp_cedula}}</i>
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="hourglass"> </ion-icon>
              Edad: <i> {{aspirante.asp_edad}} años </i>
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="school"> </ion-icon>
              Estudios: <i> {{aspirante.asp_academico}} </i>
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="call"> </ion-icon>
              Telf: <i> {{aspirante.asp_telefono}}</i>
            </ion-label>
          </span>
        </ion-col>

        <ion-col size="6">
          <span style="display: inline-grid;">
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="ribbon"> </ion-icon>
              Cargo: <i>{{aspirante.asp_cargo}}</i>
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="ribbon"> </ion-icon>
              Nacionalidad: <i>{{aspirante.asp_pais}}</i>
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="location"> </ion-icon>
              Dirección: <i>{{aspirante.asp_direccion}}</i>
            </ion-label>
            <ion-label style="font-size: 0.8rem;">
              <ion-icon name="id-card"> </ion-icon>
              Cédula militar: <i> {{aspirante.asp_militar}} </i>
            </ion-label>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-card class="card-content" *ngIf="aspirante.aov_verificado==false">

    <ion-card-header>
      <ion-card-title class="ion-text-center" color="primary">
        <ion-icon name="download"></ion-icon>
        GENERAR Y DESCARGAR DOCUMENTOS
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-row>

        <ion-col [hidden]="aspirante.aov_verificado" size="6">
          <ion-button (click)="generarArchivoPdf( aspirante.aov_url_ficha, generandoficha, 1 )" expand="block" fill="solid" shape="round" mat-raised-button
            matTooltipPosition="below" [matTooltipShowDelay]="500" matTooltipClass="popover-item"
            matTooltip="Seleciona para generar la ficha social del trabajador." style="margin: 0 5%;"
            [disabled]="generandoficha">
            <!-- <ion-icon name="document-attach" *ngIf="!generandoregistro" slot="end"></ion-icon> -->
            <ion-spinner slot="start" name="bubbles" *ngIf="generandoficha"></ion-spinner>
            <ion-label *ngIf="!generandoficha"> 1 Ficha social </ion-label>
            <ion-label *ngIf="generandoficha"> Generando documento </ion-label>
          </ion-button>
        </ion-col>

        <ion-col [hidden]="aspirante.aov_verificado" size="6">
          <ion-button (click)="generarDecimos()" expand="block" fill="solid" shape="round" mat-raised-button
            matTooltipPosition="below" [matTooltipShowDelay]="500" matTooltipClass="popover-item"
            matTooltip="Seleciona para generar el documento de acumulacion de decimos." style="margin: 0 5%;"
            [disabled]="generandodecimos">
            <!-- <ion-icon name="document-attach" *ngIf="!generandoregistro" slot="end"></ion-icon> -->
            <ion-spinner slot="start" name="bubbles" *ngIf="generandodecimos"></ion-spinner>
            <ion-label *ngIf="!generandodecimos"> 2 Acumulación de décimos </ion-label>
            <ion-label *ngIf="generandodecimos"> Generando archivo </ion-label>
          </ion-button>
        </ion-col>


        <ion-col [hidden]="aspirante.aov_verificado" size="6">
          <ion-button (click)="generarPrevencion()" expand="block" fill="solid" shape="round" mat-raised-button
            matTooltipPosition="below" [matTooltipShowDelay]="500" matTooltipClass="popover-item"
            matTooltip="Seleciona para generar el documento de autorizacion de prevencion de riesgos."
            style="margin: 0 5%;" [disabled]="generandoprevencion">
            <!-- <ion-icon name="document-attach" *ngIf="!generandoregistro" slot="end"></ion-icon> -->
            <ion-spinner slot="start" name="bubbles" *ngIf="generandoprevencion"></ion-spinner>
            <ion-label *ngIf="!generandoprevencion"> 3 Autorización de prevención </ion-label>
            <ion-label *ngIf="generandoprevencion"> Generando archivo </ion-label>
          </ion-button>
        </ion-col>

        <ion-col [hidden]="aspirante.aov_verificado" size="6">
          <ion-button (click)="generarDepositos()" expand="block" fill="solid" shape="round" mat-raised-button
            matTooltipPosition="below" [matTooltipShowDelay]="500" matTooltipClass="popover-item"
            matTooltip="Seleciona para generar el documento de depositos a cuenta bancaria." style="margin: 0 5%;"
            [disabled]="generandodepositos">
            <!-- <ion-icon name="document-attach" *ngIf="!generandoregistro" slot="end"></ion-icon> -->
            <ion-spinner slot="start" name="bubbles" *ngIf="generandodepositos"></ion-spinner>
            <ion-label *ngIf="!generandodepositos"> 4 Solicitud de depósito </ion-label>
            <ion-label *ngIf="generandodepositos"> Generando archivo </ion-label>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-card-content>

    <!-- <ion-item-divider></ion-item-divider> -->
  </ion-card>


  <ion-card class="card-content" >

    <ion-card-header>
      <ion-card-title class="ion-text-center" color="primary">
        <ion-icon name="cloud-upload"></ion-icon>
        {{(aspirante.amv_verificado==false)?'SUBIR ':'DESCARGAR '}} DOCUMENTOS DEL ASPIRANTE
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-row class="ion-align-items-end">

        <ion-col size="6">
          <app-file-formdata (setArchivo)="archivoListo($event,'Ficha')" [tarea]="'subirsocialficha'"
            [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.aov_url_ficha"
            [verificado]="aspirante.aov_verificado" titulo="1. Ficha social"></app-file-formdata>
        </ion-col>

        <ion-col size="6">
          <app-file-formdata (setArchivo)="archivoListo($event,'Decimos')" [tarea]="'subirsocialdecimos'"
            [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.aov_url_decimos"
            [verificado]="aspirante.aov_verificado" titulo="2. Acumulación de décimos"></app-file-formdata>
        </ion-col>

        <ion-col size="6">
          <app-file-formdata (setArchivo)="archivoListo($event,'Prevencion')" [tarea]="'subirsocialprevencion'"
            [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.aov_url_prevencion"
            [verificado]="aspirante.aov_verificado" titulo="3. Autorización de prevención"></app-file-formdata>
        </ion-col>

        <ion-col size="6">
          <app-file-formdata (setArchivo)="archivoListo($event,'Depositos')" [tarea]="'subirsocialdepositos'"
            [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.aov_url_depositos"
            [verificado]="aspirante.aov_verificado" titulo="4. Solicitud de depósito"></app-file-formdata>
        </ion-col>

        <ion-col size="6">
          <app-file-formdata (setArchivo)="archivoListo($event,'Uafe')" [tarea]="'subirsocialuafe'"
            [aspirante]="aspirante.asp_cedula" [urlarchivo]="aspirante.aov_url_uafe"
            [verificado]="aspirante.aov_verificado" titulo="5. Ficha UAFE"></app-file-formdata>
        </ion-col>


      </ion-row>

    </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer class="ion-padding" [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()" expand="block" fill="outline" color="danger">
        Cerrar
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [hidden]="aspirante.aov_verificado" (click)="presentAlert()" expand="block" slot="end" fill="solid"
        color="primary">
        <ion-label>Continuar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>