<ion-tabs>

  <ion-tab-bar slot="top" color="primary">

    <!-- <div style="display: inline-flex;"> -->

    <ion-item href="inicio" style="--background: transparent !important;">
      <ion-thumbnail>
        <img style="margin-top: 0.25em;" src="./assets/icon/logo-promine.svg" />
      </ion-thumbnail>
    </ion-item>

    <ion-title style="text-align: left; font-size: 1.2em;" color="light"> PROMINE :: PORTAL WEB 
      <ion-label color="warning" style="font-size: 10px;"> v{{version}} </ion-label> 
    </ion-title>

    <ion-tab-button [tab]="item.ruta" [style.background-color]="(item.activo)?'#fff':'#071F3B'" class="menu-item"
      (click)="selectItem(item)" *ngFor="let item of menu">

      <ion-icon class="menu-item-icon" [name]="item.icono" size="large" [color]="(item.activo)?'primary':'light'"></ion-icon>
      <ion-label class="menu-item-text ion-text-uppercase" [color]="(item.activo)?'primary':'light'" >
        {{item.nombre}}
      </ion-label>

    </ion-tab-button>

    <ion-tab-button class="menu-item" (click)="showUserModal()">
      <ion-icon name="person-circle-outline" size="large" color="light"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
  
</ion-tabs>


<ion-card class="card-login" *ngIf="isOpenModal">

  <ion-card-header>
    <ion-card-title>{{servicioData.userLogin.displayname}}</ion-card-title>
    <ion-card-subtitle>Area :: {{servicioData.userLogin.role}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="ion-align-items-center">
    <ion-avatar>
      <img [src]="'assets/icon/person.png'" />
    </ion-avatar>
    <ion-label style="line-height: 3;">{{servicioData.userLogin.email}}</ion-label><br>
    <p style="background: var(--ion-color-light); font-size: 12px;">
      <ion-label><b> Ultimo ingreso </b></ion-label><br>
      <ion-label> {{fecha}} </ion-label><br>
      <ion-label> hora: {{hora}} </ion-label><br>
    </p>

    <ion-button (click)="logout()" color="warning" expand="block" fill="solid" >
      Cerrar sesion
      <ion-icon name="exit-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-card-content>

</ion-card>
