.text-small {
    --background: rgb(0, 0, 0);
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    font-size: 0.79rem;
  }
  
  .transparente {
    --background: rgba(0, 0, 0, 0);
    --border-color: rgba(0, 0, 0, 0);
    text-align: center;
  }
  
  ion-alert {
    --background: rgba(0, 0, 0, 0);
    --border-color: rgba(0, 0, 0, 0);
    text-align: center;
    //margin-left:auto;
    //margin-right: auto;
  }
  
  .botones {
    height: 40px;
    margin: 10px 5% 10px 5%;
    //background: #ffffff !important;
  }
  
  ion-icon.ojo_mostrar {
    font-size: 22px;
    vertical-align: middle;
    //float: right;
  }
  
  ion-icon.validar_ci {
    font-size: 26px;
    position:relative;
    left: -20px;
    //
  }
  
  ion-row{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
  }
  
  ion-card{
    border-bottom: 3px solid #004488 !important;
    border-top: 3px solid #004488 !important;
    border-left: 3px solid #004488 !important;
    border-right: 3px solid #004488 !important;
  }
  
  .titulo{
    border-bottom: 3px solid #004488 !important;
    cursor:pointer;
  }
  
  ion-fab ion-fab-button {
    animation: heartbeat 2s ease 6;
  }
    
  // ion-toolbar.toolbar-container.toolbar-content{
  //   background: #004488;
  //   border-radius: 20px;
  // }
  
  .my-custom-interface .select-interface-option {
    color: red;
  }
  
  
  .my-custom-interface .select-interface-option {
    --color: #971e49;
    --color-hover: #79193b;
  }
  
  /* Action Sheet Interface: set color for the action sheet using its button CSS variables */
  .my-custom-interface .select-interface-option {
    --button-color: #971e49;
    --button-color-hover: #79193b;
  }
  
  .select-full-width {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
  }