<ion-content>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

    <fieldset id="formulario" style="border: 0px solid;">


      <ion-card mode="ios" style="width: 97%!important; margin: auto; font-size: 1rem;">

        <ion-card-header color="light" class="titulo" (click)="mostrarContenido('infogeneral')">
          <ion-card-title color="dark" style="font-size: 1rem">
            <ion-icon *ngIf="(infogeneral)" class="ojo_mostrar" color="primary" name="eye">
            </ion-icon>
            <ion-icon *ngIf="(!infogeneral)" class="ojo_mostrar" color="primary" name="eye-off">
            </ion-icon>
            FICHA SOCIAL
          </ion-card-title>
        </ion-card-header>
        <!-- </ion-col> -->

        <ion-card-content class="marco" *ngIf="infogeneral">

          <ion-item-divider color="primary">
            <ion-label>DATOS DE IDENTIFICACION DEL TRABAJADOR</ion-label>
          </ion-item-divider>

          <ion-item style="font-size: 0.9rem;">
            <ion-row mode="ios">


              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked" color="primary"></ion-label>
                  <ion-thumbnail style="margin-bottom: 0.25em;">
                    <ion-img src="">
                    </ion-img>
                  </ion-thumbnail>

                  <div class="form-group col-lg-12">
                    <div class="input-group">
                      <label class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                          Foto <input accept=".jpg,.png,.jpeg,.gif" class="hidden" name="banner" type="file"
                            id="banner">
                        </span>
                      </label>
                    </div>
                  </div>

                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label color="primary">Apellidos</ion-label><b>
                    <ion-label color="dark" type="text" name="apellidoAspirante" style="text-transform:uppercase;">
                      {{aspirante.asp_apellidop + ' ' + aspirante.asp_apellidom}} </ion-label>
                  </b>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Nombres</ion-label><b>
                    <ion-input color="dark" type="text" name="nombreAspirante" [value]="aspirante.asp_nombres"
                      style="text-transform:uppercase;" required placeholder="ANA LISSETH"></ion-input>
                  </b>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">País</ion-label>
                  <ion-select mode="ios" placeholder="Seleccione uno" interface="popover"
                    [(ngModel)]="aspirante.asp_pais" name="paisAspirante" [selectedText]="aspirante.asp_pais" required>
                    <ion-select-option *ngFor="let aspirante of paises"> {{ aspirante.asp_nombre }} </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Cédula de identidad
                  </ion-label>
                  <ion-input color="dark" name="cedulaAspirante" minlength="10" maxlength="10"
                    (ionChange)="verificarci($event)" [(ngModel)]="aspirante.asp_cedula" placeholder="0705454258-9"
                    required>
                  </ion-input>
                  <ion-icon *ngIf="(mensajecedula == 'si')" slot="end" class="validar_ci" name="checkmark-circle"
                    color="success"></ion-icon>
                  <ion-icon *ngIf="(mensajecedula == 'no')" slot="end" class="validar_ci" name="close-circle"
                    color="danger"></ion-icon>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Lugar de nacimiento</ion-label>
                  <ion-input color="" type="text" name="lugarNacimiento" [(ngModel)]="aspirante.asp_lugar_nacimiento"
                    required>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label color="primary" class="text-small">Fecha de Nacimiento
                  </ion-label>
                  <br>
                  <ion-buttons>
                    <ion-button id="open-entrevista-social">
                      <ion-icon name="calendar-outline"></ion-icon>
                    </ion-button>
                    <ion-modal trigger="open-entrevista-social">
                      <ng-template>
                        <ion-content>
                          <ion-datetime [value]="fechaNacimiento.toISOString()" display-format="DD MMMM YYYY"
                            name="fechaNacimiento" (ionChange)="cambioFecha( $event )" size="cover">
                            <div slot="title">FECHA DE NACIMIENTO</div>
                            <ion-buttons slot="buttons">
                              <ion-button color="primary">Aceptar</ion-button>
                              <ion-button color="danger">Cancelar</ion-button>
                            </ion-buttons>
                          </ion-datetime>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-buttons>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="2" size-xl="2">
                <ion-item>
                  <ion-label position="floating" color="primary">Estado civil</ion-label>
                  <ion-select mode="ios" placeholder="Seleccione uno" interface="popover"
                    [(ngModel)]="aspirante.asp_ecivil" name="civilAspirante" [selectedText]="aspirante.asp_ecivil"
                    required>
                    <ion-select-option class="my-custom-interface" *ngFor="let aspirante of civil"> {{
                      aspirante.asp_nombre }} </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <br>
                  <ion-toggle mode="md" color="primary" slot="start" checked
                    (ionChange)="actualizarvalor($event,'asp_experiencia')" name="test" slot="end" checked></ion-toggle>
                  <ion-label color="primary" class="text-small">¿Tiene alguna experiencia?</ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label color="primary" class="text-small">Ingreso a PROMINE
                  </ion-label>
                  <br>
                  <ion-buttons>
                    <ion-button id="open-promine">
                      <ion-icon name="calendar-outline"></ion-icon>
                    </ion-button>
                    <ion-modal trigger="open-promine">
                      <ng-template>
                        <ion-content>
                          <ion-datetime [value]="fechaIngreso.toISOString()" display-format="DD MMMM YYYY"
                            name="fechaIngreso" (ionChange)="cambioFecha( $event )" size="cover">
                            <div slot="title">INGRESO A PROMINE</div>
                            <ion-buttons slot="buttons">
                              <ion-button color="primary">Aceptar</ion-button>
                              <ion-button color="danger">Cancelar</ion-button>
                            </ion-buttons>
                          </ion-datetime>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-buttons>
                </ion-item>

              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label position="floating" color="primary">Email</ion-label>
                  <ion-input color="dark" type="email" name="emailAspirante" [(ngModel)]="aspirante.asp_correo"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    style="text-transform:lowercase;" placeholder="Ej. carlosguaman@promine-cia-ltda.com"></ion-input>
                </ion-item>
              </ion-col>


              <ion-col size-lg="2" size-xl="2">
                <ion-item>
                  <ion-label position="floating" color="primary">Edad
                  </ion-label>
                  <ion-input type="number" color="dark" name="edadAspirante" minlength="2" maxlength="2"
                    [(ngModel)]="aspirante.asp_edad" required>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="2" size-xl="2">
                <ion-item>
                  <ion-label position="floating" color="primary">Sexo</ion-label>
                  <ion-select mode="ios" placeholder="Seleccione uno" interface="popover"
                    [(ngModel)]="aspirante.asp_sexo" name="sexoAspirante" [selectedText]="aspirante.asp_sexo" required>
                    <ion-select-option *ngFor="let aspirante of sexo">{{ aspirante.asp_nombre }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>


              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label position="floating" color="primary">Dirección</ion-label>
                  <ion-input color="dark" type="text" name="direccionAspirante" [(ngModel)]="aspirante.asp_direccion"
                    required>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="2" size-xl="2">
                <ion-item>
                  <ion-label position="floating" color="dark_b">Nivel de estudios</ion-label>
                  <ion-select mode="ios" placeholder="Seleccione uno" interface="popover"
                    [(ngModel)]="aspirante.asp_academico" name="academicoAspirante"
                    [selectedText]="aspirante.asp_academico" required>
                    <ion-select-option *ngFor="let aspirante of academico"> {{ aspirante.asp_nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>


              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label position="floating" color="primary">Puesto de trabajo</ion-label>
                  <ion-select mode="ios" placeholder="Seleccione uno" [(ngModel)]="aspirante.asp_cargo" name="cargo"
                    [selectedText]="aspirante.asp_cargo" required>
                    <ion-select-option *ngFor="let aspirante of cargo">{{ aspirante.asp_nombre }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="2" size-xl="2">
                <ion-item>
                  <ion-label position="floating" color="primary">Código sectorial</ion-label>
                  <ion-input color="dark" type="text" name="codigoAspirante" [(ngModel)]="aspirante.asp_codigo"
                    required>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Etnia</ion-label>
                  <ion-select mode="ios" placeholder="Seleccione uno" interface="popover"
                    [(ngModel)]="aspirante.asp_etnia" name="etniaAspirante" [selectedText]="aspirante.asp_etnia"
                    required>
                    <ion-select-option class="my-custom-interface" *ngFor="let aspirante of etnia"> {{
                      aspirante.asp_nombre }} </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="2" size-xl="2">
                <ion-item>
                  <ion-label position="floating" color="primary">Religión</ion-label>
                  <ion-input color="dark" type="text" name="religionAspirante" [(ngModel)]="aspirante.asp_religion"
                    required>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="2" size-xl="2">
                <ion-item>
                  <ion-label position="floating" color="primary">Banco</ion-label>
                  <ion-input color="dark" type="text" name="bancoAspirante" [(ngModel)]="aspirante.asp_banco" required>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Nro de cuenta</ion-label>
                  <ion-input color="dark" type="text" name="nroctaAspirante" [(ngModel)]="aspirante.asp_nro_cuenta"
                    required>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="2" size-xl="2">
                <ion-item>
                  <ion-label position="floating" color="primary">Teléfono principal</ion-label>
                  <ion-input color="dark" type="text" name="telefonoAspirante" [(ngModel)]="aspirante.asp_telefono"
                    required>
                  </ion-input>
                </ion-item>
              </ion-col>


              <ion-col size="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <br>
                  <ion-toggle mode="md" color="primary" slot="start" checked
                    (ionChange)="actualizarvalor($event,'asp_conadis')" name="test" slot="end" checked></ion-toggle>
                  <ion-label color="primary" class="text-small">¿Carné del CONADIS?</ion-label>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
                <ion-item *ngIf="( aspirante.asp_conadis !== 'NO')">
                  <ion-label position="fixed" color="primary">Carné Nro</ion-label>
                  <ion-input color="dark" name="nroCarne" [(ngModel)]="aspirante.asp_nro_conadis"
                    style="text-transform:uppercase;" required></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4">
                <ion-item *ngIf="( aspirante.asp_conadis !== 'NO')">
                  <ion-label class="ion-text-wrap" position="fixed" color="primary">Discapacidad</ion-label>
                  <ion-input color="dark" type="text" name="nombreDiscapacidad" [(ngModel)]="aspirante.asp_discapacidad"
                    style="text-transform:uppercase;" required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="2" size-xl="2">
                <ion-item *ngIf="( aspirante.asp_conadis !== 'NO')">
                  <ion-label position="fixed" color="primary">Porcentaje</ion-label>
                  <ion-input color="dark" type="number" name="porcentajeDiscapacidad"
                    [(ngModel)]="aspirante.asp_porcentaje" required></ion-input>
                </ion-item>
              </ion-col>

            </ion-row>
          </ion-item>
        </ion-card-content>

      </ion-card>

      <ion-item-divider class="transparente"></ion-item-divider>



      <ion-card mode="ios" style="width: 97%!important; margin: auto; font-size: 1rem;">

        <ion-card-header color="light" class="titulo" (click)="mostrarContenido('infoubicacion')">
          <ion-card-title color="dark" style="font-size: 1rem">
            <ion-icon *ngIf="(infoubicacion)" class="ojo_mostrar" color="primary" name="eye">
            </ion-icon>
            <ion-icon *ngIf="(!infoubicacion)" class="ojo_mostrar" color="primary" name="eye-off">
            </ion-icon>
            FICHA SOCIAL
          </ion-card-title>
        </ion-card-header>
        <!-- </ion-col> -->

        <ion-card-content class="marco" *ngIf="infoubicacion">

          <ion-item-divider color="primary">
            <ion-label>DATOS DE UBICACIÓN DEL DOMICILIO</ion-label>
          </ion-item-divider>

          <ion-item style="font-size: 0.9rem;">
            <ion-row mode="ios">


              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <ion-item>
                  <ion-label position="floating" color="primary">Nombre del familiar</ion-label><b>
                    <ion-input color="dark" type="text" name="nombreFamiliar"
                      [(ngModel)]="aspirante.asp_nombre_familiar" style="text-transform:uppercase;" required
                      placeholder="SONIA GUERRA"></ion-input>
                  </b>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Parentezco</ion-label><b>
                    <ion-input color="dark" type="text" name="nombreAspirante"
                      [(ngModel)]="aspirante.asp_parentezco_familiar" style="text-transform:uppercase;" required
                      placeholder="ESPOSA"></ion-input>
                  </b>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Telefono del familiar</ion-label><b>
                    <ion-input color="dark" type="text" name="telefonoFamiliar"
                      [(ngModel)]="aspirante.asp_telefono_familiar"></ion-input>
                  </b>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <ion-item>
                  <ion-label position="floating" color="primary">Dirección del domicilio</ion-label>
                  <ion-textarea color="dark" type="text" name="direccionAspirante" [(ngModel)]="aspirante.asp_direccion"
                    style="text-transform:uppercase;" required placeholder="Av. Amazona y Galo Anselmo"></ion-textarea>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <ion-item>
                  <ion-label position="floating" color="primary">Descripción de la vivienda</ion-label>
                  <ion-textarea color="dark" type="text" name="descripcionVivienda"
                    [(ngModel)]="aspirante.asp_descripcion_vivienda" style="text-transform:uppercase;" required
                    placeholder="CASA DE 1 PISO ESQUINERA COLOR MOSTAZA"></ion-textarea>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="12" size-xl="12">
                <ion-item>
                  <ion-label position="floating" color="primary">Sito de referencia</ion-label>
                  <ion-textarea color="dark" type="text" name="referenciaVivienda"
                    [(ngModel)]="aspirante.asp_referencia_vivienda" style="text-transform:uppercase;" required
                    placeholder="A LA VUELTA DE LA CANCHA DEL BARRIO 9 DE NOVIEMBRE"></ion-textarea>
                </ion-item>
              </ion-col>

            </ion-row>
          </ion-item>
        </ion-card-content>

      </ion-card>

      <ion-item-divider class="transparente"></ion-item-divider>



      <ion-card mode="ios" style="width: 97%!important; margin: auto; font-size: 1rem;">

        <ion-card-header color="light" class="titulo" (click)="mostrarContenido('infovivienda')">
          <ion-card-title color="dark" style="font-size: 1rem">
            <ion-icon *ngIf="(infovivienda)" class="ojo_mostrar" color="primary" name="eye">
            </ion-icon>
            <ion-icon *ngIf="(!infovivienda)" class="ojo_mostrar" color="primary" name="eye-off">
            </ion-icon>
            FICHA SOCIAL
          </ion-card-title>
        </ion-card-header>
        <!-- </ion-col> -->

        <ion-card-content class="marco" *ngIf="infovivienda">

          <ion-item-divider color="primary">
            <ion-label>DATOS DE FAMILIARES Y DEL DOMICILIO</ion-label>
          </ion-item-divider>

          <ion-item style="font-size: 0.9rem;">
            <ion-row mode="ios">


              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="dark_a">Mayores de 18 años</ion-label>
                  <ion-input color="dark" type="number" name="cargasMayores" [(ngModel)]="aspirante.asp_cargas">
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="dark_a">Menores de 18 en PRIMARIA</ion-label>
                  <ion-input color="dark" type="number" name="cargasPrimaria"
                    [(ngModel)]="aspirante.asp_cargas_primaria">
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="dark_a">Menores de 18 en SECUNDARIA</ion-label>
                  <ion-input color="dark" type="number" name="cargasSecundaria"
                    [(ngModel)]="aspirante.asp_cargas_secundaria">
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Vivienda</ion-label>
                  <ion-select mode="ios" interface="popover" placeholder="Seleccione una"
                    [(ngModel)]="aspirante.asp_vivienda" [selectedText]="aspirante.asp_vivienda" name="vivienda"
                    required>
                    <ion-select-option *ngFor="let aspirante of vivienda">{{ aspirante.asp_nombre }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <ion-label position="floating" color="primary">Construcción</ion-label>
                  <ion-select mode="ios" interface="popover" placeholder="Seleccione una"
                    [(ngModel)]="aspirante.asp_construccion" [selectedText]="aspirante.asp_construccion" name="vivienda"
                    required>
                    <ion-select-option *ngFor="let aspirante of construccion">{{ aspirante.asp_nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>



              <ion-col size="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <br>
                  <ion-toggle mode="md" color="primary" slot="start" checked name="test" slot="end" checked>
                  </ion-toggle>
                  <ion-label color="primary" class="text-small">¿Servicio de agua potable?</ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <br>
                  <ion-toggle mode="md" color="primary" slot="start" checked name="test" slot="end" checked>
                  </ion-toggle>
                  <ion-label color="primary" class="text-small">¿Servicio de energía eléctrica?</ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <ion-item>
                  <br>
                  <ion-toggle mode="md" color="primary" slot="start" checked name="test" slot="end" checked>
                  </ion-toggle>
                  <ion-label color="primary" class="text-small">¿Servicio de alcantarillado?</ion-label>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <ion-item>
                  <ion-label position="floating" color="primary">¿Cómo se moviliza para llegar a su lugar de trabajo?
                  </ion-label>
                  <ion-input color="dark" type="text" name="movilizaAspirante" style="text-transform:uppercase;"
                    [(ngModel)]="aspirante.asp_movilizacion">
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <ion-item>
                  <ion-label position="floating" color="primary">Recomendado por</ion-label>
                  <ion-input color="dark" type="text" name="recomendadoAspirante" style="text-transform:uppercase;"
                    [(ngModel)]="aspirante.asp_recomendado">
                  </ion-input>
                </ion-item>
              </ion-col>


            </ion-row>
          </ion-item>
        </ion-card-content>

      </ion-card>

      <ion-item-divider class="transparente"></ion-item-divider>



      <ion-card mode="ios" style="width: 97%!important; margin: auto; font-size: 1rem;">

        <ion-card-header color="light" class="titulo" (click)="mostrarContenido('infodepartamento')">
          <ion-card-title color="dark" style="font-size: 1rem">
            <ion-icon *ngIf="(infodepartamento)" class="ojo_mostrar" color="primary" name="eye">
            </ion-icon>
            <ion-icon *ngIf="(!infodepartamento)" class="ojo_mostrar" color="primary" name="eye-off">
            </ion-icon>
            DEPARTAMENTOS DE CONTROL DENTRO DEL PROCESO DE SELECCIÓN
          </ion-card-title>
        </ion-card-header>
        <!-- </ion-col> -->

        <ion-card-content class="marco" *ngIf="infodepartamento">

          <ion-item-divider color="primary">
            <ion-label>FICHA INGRESO PERSONAL NUEVO</ion-label>
          </ion-item-divider>

          <ion-item style="font-size: 0.9rem;">
            <ion-row mode="ios">

              <ion-col size="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label position="floating" color="primary">Encargado</ion-label>
                  <ion-input color="dark" type="text" name="encargadoSolicitud" style="text-transform:uppercase;"
                    [(ngModel)]="aspirante.asp_nombres" placeholder="Ec. Diana Flores" required></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label position="floating" color="primary">Departamento</ion-label>
                  <ion-select mode="ios" interface="popover" placeholder="Seleccione una"
                    [(ngModel)]="empleado.emp_departamento" [selectedText]="empleado.emp_departamento"
                    name="departamentos" required>
                    <ion-select-option *ngFor="let empleado of departamentos">{{ empleado.emp_nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label color="primary" class="text-small">Ingreso al departamento
                  </ion-label>
                  <br>
                  <ion-buttons>
                    <ion-button id="open-departamento">
                      <ion-icon name="calendar-outline"></ion-icon>
                    </ion-button>
                    <ion-modal trigger="open-departamento">
                      <ng-template>
                        <ion-content>
                          <ion-datetime [value]="fechaDepartamento.toISOString()" display-format="DD MMMM YYYY"
                            name="fechaDepartamento" (ionChange)="cambioFecha( $event )" size="cover">
                            <div slot="title">INGRESO AL DEPARTAMENTO</div>
                            <ion-buttons slot="buttons">
                              <ion-button color="primary">Aceptar</ion-button>
                              <ion-button color="danger">Cancelar</ion-button>
                            </ion-buttons>
                          </ion-datetime>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-buttons>
                </ion-item>

              </ion-col>


              <ion-col size="12">
                <ion-item>
                  <ion-label position="fixed" color="primary">Observación</ion-label>
                  <!-- <ion-input color="primary" type="text" name="experiencia"
                             [(ngModel)]="aspirante.asp_nmb_experiencia" placeholder="EXPERIENCIA EN CARGADORA"
                             style="text-transform:uppercase;" required></ion-input> -->
                  <ion-textarea color="dark" type="text" name="observacion" [(ngModel)]="aspirante.asp_observaciones"
                    placeholder="Escribir alguna observación..." required></ion-textarea>
                </ion-item>
              </ion-col>

            </ion-row>
          </ion-item>
        </ion-card-content>

      </ion-card>

    </fieldset>

  </form>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row style="margin: 0% 5% 0% 5%;">
      <ion-col>
        <!-- <ion-button type="submit" size="large" expand="full" [disabled]="formulario.invalid" *ngIf="!!productor.prod_codigo"
        class="botones">Enviar
      </ion-button> -->
        <ion-button type="submit" expand="block" fill="solid" class="botones" color="primary"
          (click)="onSubmitTemplate()"> ENVIAR
          <ion-icon slot="start" size="medium" name="checkmark-circle-outline"></ion-icon>

        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="cancelarSolicitud()" color="danger" class="botones">
          Cancelar
          <ion-icon slot="end" size="medium" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>