<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio/tab-aspirante/principal-social" text="Regresar" color="primary">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div [hidden]="!guardando" class="content-loading">
    <ion-img src="assets/img/animation-circle.svg" class="img-loading"></ion-img>
    <span class='texto1'>Guardando los cambios</span> <br>
    <span class='texto2'> <ion-spinner name='dots'> </ion-spinner> espera un momento </span>
  </div>

  <form #formulario="ngForm" [class]="(guardando)?'content-effect':''" (ngSubmit)="onSubmitTemplate()">


        <ion-card-header color="light" class="titulo">
          <ion-card-title color="dark" style="font-size: 1rem">
            DATOS DE IDENTIFICACIÓN DEL TRABAJADOR
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item lines="none">
            <div class="avatar-container">
              <img class="avatar-img" src="assets/icon/person.png" alt="Avatar">
            </div>
            <ion-label class="info-container">
              <h2>JUANA ESTHER LOPEZ RODRIGUEZ</h2>
              <p>Dirección: STA ROSA Y 12AVA NORTE MACHALA - BARRIO BELICOSO</p>
              <p>Teléfono: 0991344415</p>
              <p>Email: adccd@asdaa.com</p>
              <p>Cédula: 0705050508</p>
            </ion-label>
            <ion-label class="info-container">
              <!-- <h2>Nombre de la persona</h2> -->
              <p>Sueldo: $ 650.55</p>
              <p>Nacionalidad: ECUATORIANO</p>
              <p>Experiencia: EXPERIENCIA EN ASISTENTE DE COMPRAS</p>
              <p>Cargo - Area: ASISTENTE DE COMPRAS - ADMINISTRACION</p>
            </ion-label>
             </ion-item>
         
          <ion-row style="border-top: 2px #e7d214 solid; margin-top: 2vh; padding: 5px 1rem;">

            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Clave del IESS</mat-label>
                <input matInput name="" type="text" 
                  style="text-transform:uppercase;" placeholder="Ingrese la clave del IESS" required>
                <mat-icon matSuffix>paid</mat-icon>
              </mat-form-field>
            </ion-col>

            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Número de cuenta bancaria</mat-label>
                <input matInput name="" type="number" 
                  style="text-transform:uppercase;" placeholder="Ingrese el número de cuenta..." required>
                <mat-icon matSuffix>paid</mat-icon>
              </mat-form-field>
            </ion-col>

            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Banco</mat-label>
                <input matInput name="" type="number" 
                  style="text-transform:uppercase;" placeholder="Ingrese el nombre del banco..." required>
                <mat-icon matSuffix>paid</mat-icon>
              </mat-form-field>
            </ion-col>

          </ion-row>
        </ion-card-content>

      <!-- <ion-item-divider class="transparente"></ion-item-divider> -->

        <ion-card-header color="light" class="titulo" (click)="mostrarContenido('infoubicacion')">
          <ion-card-title color="dark" style="font-size: 1rem">
            <ion-icon *ngIf="(infoubicacion)" class="ojo_mostrar" color="primary" name="eye">
            </ion-icon>
            <ion-icon *ngIf="(!infoubicacion)" class="ojo_mostrar" color="primary" name="eye-off">
            </ion-icon>
            MAPA DE UBICACIÓN DEL DOMICILIO
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="marco" *ngIf="infoubicacion">

          <ion-item-divider color="primary">
            <ion-label>FICHA SOCIAL</ion-label>
          </ion-item-divider>

            <ion-row mode="">

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Nombre del familiar</mat-label>
                  <input matInput name="nombreFamiliar" type="text" [(ngModel)]="aspirante.asp_nombre_familiar"
                    style="text-transform:uppercase;" placeholder="Sasha Gray" required>
                  <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Parentezco</mat-label>
                  <input matInput name="nombreAspirante" type="text" [(ngModel)]="aspirante.asp_parentezco_familiar"
                    style="text-transform:uppercase;" placeholder="ESPOSA" required>
                  <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Telefono del familiar</mat-label>
                  <input matInput name="telefonoFamiliar" type="text" [(ngModel)]="aspirante.asp_telefono_familiar"
                    style="text-transform:uppercase;" placeholder="0991122454" required>
                  <mat-icon matSuffix>call</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Dirección del domicilio</mat-label>
                  <input matInput name="direccionAspirante" type="text" [(ngModel)]="aspirante.asp_direccion"
                    style="text-transform:uppercase;" placeholder="Av. Amazona y Galo Anselmo" required>
                  <mat-icon matSuffix>home</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Descripción de la vivienda</mat-label>
                  <input matInput name="descripcionVivienda" type="text" [(ngModel)]="aspirante.asp_descripcion_vivienda"
                    style="text-transform:uppercase;" placeholder="Casa de 1 piso esquinera color mostaza" required>
                  <mat-icon matSuffix>home</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="12" size-xl="12">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Sito de referencia</mat-label>
                  <input matInput name="referenciaVivienda" type="text" [(ngModel)]="aspirante.asp_referencia_vivienda"
                    style="text-transform:uppercase;" placeholder="A la vuelta de la cancha del barrio 9 de noviembre" required>
                  <mat-icon matSuffix>pin_drop</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-item-divider style="background-color: #ffcc0180;"></ion-item-divider>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Persona responsable</mat-label>
                  <input matInput name="" type="text"
                    style="text-transform:uppercase;" placeholder="Sasha Gray" required>
                  <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Parentezco</mat-label>
                  <input matInput name="" type="text" 
                    style="text-transform:uppercase;" placeholder="ESPOSA" required>
                  <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Telefono del familiar</mat-label>
                  <input matInput name="" type="text" 
                    style="text-transform:uppercase;" placeholder="0991122454" required>
                  <mat-icon matSuffix>call</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Dirección del domicilio</mat-label>
                  <input matInput name="" type="text"
                    style="text-transform:uppercase;" placeholder="Av. Amazona y Galo Anselmo" required>
                  <mat-icon matSuffix>home</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Descripción de la vivienda</mat-label>
                  <input matInput name="" type="text"
                    style="text-transform:uppercase;" placeholder="Casa de 1 piso esquinera color mostaza" required>
                  <mat-icon matSuffix>home</mat-icon>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="12" size-xl="12">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Sito de referencia</mat-label>
                  <input matInput name="" type="text"
                    style="text-transform:uppercase;" placeholder="A la vuelta de la cancha del barrio 9 de noviembre" required>
                  <mat-icon matSuffix>pin_drop</mat-icon>
                </mat-form-field>
              </ion-col>
              
              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="12" size-xl="12">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Descripción de la situación que se informa</mat-label>
                  <input matInput name="" type="text"
                    style="text-transform:uppercase;" placeholder="No se que va aca xD" required>
                  <mat-icon matSuffix>person_pin</mat-icon>
                </mat-form-field>
              </ion-col>

            </ion-row>
        </ion-card-content>

        
        <ion-item-divider class="transparente"></ion-item-divider>

        <ion-card-header color="light" class="titulo" (click)="mostrarContenido('infofamiliares')">
          <ion-card-title color="dark" style="font-size: 1rem">
            <ion-icon *ngIf="(infofamiliares)" class="ojo_mostrar" color="primary" name="eye">
            </ion-icon>
            <ion-icon *ngIf="(!infofamiliares)" class="ojo_mostrar" color="primary" name="eye-off">
            </ion-icon>
              DATOS FAMILIARES
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="content-familiares" *ngIf="infofamiliares">

          <ion-item-divider color="primary">
            <ion-label>FICHA SOCIAL</ion-label>
          </ion-item-divider>

          <!-- <ion-row> -->
          <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="updatePageIndex()" >
            <ion-slide *ngFor="let fieldGroup of fieldGroups">
              <ion-item *ngFor="let field of fieldGroup.fields" lines="none">
                <ion-row>
                  <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="12" size-xl="12">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>{{ field.label }}</mat-label>
                      <input matInput name="" type="text" [(ngModel)]="field.value" [ngModelOptions]="{standalone: true}"
                             style="text-transform:uppercase;" placeholder="Ingrese el campo..." >
                      <mat-icon matSuffix>{{field.icon}}</mat-icon>
                    </mat-form-field>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-row>
                <ion-col size="12">
                  <div *ngFor="let field of fieldGroup.toggles" >
                    <ion-col size="12" size-sm="12" size-md="2" size-lg="3" size-xl="3" class="">
                      <div class="example-section">
                        <section>
                          {{field.label}}
                          <mat-slide-toggle class="example-margin" checked="false" color="primary">
                          </mat-slide-toggle>
                        </section>
                      </div>
                    </ion-col>
                  </div>
                </ion-col>
              </ion-row>
              </ion-slide>
            </ion-slides>
          <!-- </ion-row> -->
            <ion-buttons slot="" class="button-row">
              <ion-button (click)="slidePrev()" [disabled]="pageIndex === 0" fill="solid" color="primary" style="margin-left: 50vh;"> 
                <ion-icon name="arrow-back-circle-outline" style="margin: 0.5px 5px 0px 0px;"></ion-icon>Anterior
              </ion-button>
              <ion-button (click)="slideNext()" [disabled]="pageIndex === (fieldGroups.length - 1)" fill="solid" color="primary" style="margin-right: 50vh;"> Siguiente
                <ion-icon name="arrow-forward-circle-outline" style="margin: 0.5px 0px 0px 5px;"></ion-icon>
              </ion-button>
            </ion-buttons>
            
        </ion-card-content>

        <ion-item-divider class="transparente"></ion-item-divider>

        <ion-card-header color="light" class="titulo" (click)="mostrarContenido('infovivienda')">
          <ion-card-title color="dark" style="font-size: 1rem">
            <ion-icon *ngIf="(infovivienda)" class="ojo_mostrar" color="primary" name="eye">
            </ion-icon>
            <ion-icon *ngIf="(!infovivienda)" class="ojo_mostrar" color="primary" name="eye-off">
            </ion-icon>
            DATOS DE LA VIVIENDA
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="marco" *ngIf="infovivienda">

          <ion-item-divider color="primary">
            <ion-label>FICHA SOCIAL</ion-label>
          </ion-item-divider>

            <ion-row>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Vivienda</mat-label>
                  <mat-select placeholder="Seleccione uno" [(ngModel)]="aspirante.asp_vivienda" name="vivienda"
                    [selectedText]="aspirante.asp_vivienda" [required]>
                    <mat-option *ngFor="let aspirante of vivienda" [value]="aspirante.asp_nombre">
                      {{aspirante.asp_nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Construcción</mat-label>
                  <mat-select placeholder="Seleccione uno" [(ngModel)]="aspirante.asp_construccion" name="construccion"
                    [selectedText]="aspirante.asp_construccion" [required]>
                    <mat-option *ngFor="let aspirante of construccion" [value]="aspirante.asp_nombre">
                      {{aspirante.asp_nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="3" size-xl="3" class="col-toggle">
                <div class="example-section">
                  <section>
                    ¿Servicio de agua potable?
                    <mat-slide-toggle class="example-margin" checked="false" color="primary">
                    </mat-slide-toggle>
                  </section>
                </div>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="3" size-xl="3" class="col-toggle">
                <div class="example-section">
                  <section>
                    ¿Servicio de energía eléctrica?
                    <mat-slide-toggle class="example-margin" checked="false" color="primary">
                    </mat-slide-toggle>
                  </section>
                </div>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="3" size-xl="3" class="col-toggle">
                <div class="example-section">
                  <section>
                    ¿Servicio de alcantarillado?
                    <mat-slide-toggle class="example-margin" checked="false" color="primary">
                    </mat-slide-toggle>
                  </section>
                </div>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="9" size-xl="9">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Observaciones</mat-label>
                  <textarea matInput name="" type="text" 
                    style="text-transform:uppercase;" placeholder="Ingrese alguna observación..."
                    [required]></textarea>
                </mat-form-field>
              </ion-col>

            </ion-row>
        </ion-card-content>

      <ion-item-divider class="transparente"></ion-item-divider>

      <ion-card-header color="light" class="titulo" (click)="mostrarContenido('infoeconomica')">
        <ion-card-title color="dark" style="font-size: 1rem">
          <ion-icon *ngIf="(infoeconomica)" class="ojo_mostrar" color="primary" name="eye">
          </ion-icon>
          <ion-icon *ngIf="(!infoeconomica)" class="ojo_mostrar" color="primary" name="eye-off">
          </ion-icon>
            SITUACIÓN ECONÓMICA
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="marco" *ngIf="infoeconomica">

        <ion-item-divider color="primary">
          <ion-label>FICHA SOCIAL</ion-label>
        </ion-item-divider>

          <ion-row>

            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Ingresos mensuales familiares</mat-label>
                <input matInput name="" type="number" 
                  style="text-transform:uppercase;" placeholder="$2000" required>
                <mat-icon matSuffix>paid</mat-icon>
              </mat-form-field>
            </ion-col>

            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Gastos mensuales familiares</mat-label>
                <input matInput name="" type="number" 
                  style="text-transform:uppercase;" placeholder="$2000" required>
                <mat-icon matSuffix>paid</mat-icon>
              </mat-form-field>
            </ion-col>

            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Otros ingresos</mat-label>
                <input matInput name="" type="number" 
                  style="text-transform:uppercase;" placeholder="$2000" required>
                <mat-icon matSuffix>paid</mat-icon>
              </mat-form-field>
            </ion-col>

            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="8" size-xl="8">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>¿Cómo se moviliza para llegar a su lugar de trabajo?</mat-label>
                <input matInput name="" type="text" 
                  style="text-transform:uppercase;" placeholder="Vehiculo propio" required>
                <mat-icon matSuffix>directions_walk</mat-icon>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row style="margin: 0% 5% 0% 5%;">
            <ion-col>
              <ion-button type="submit" expand="block" fill="solid" class="botones" color="primary"
                (click)="onSubmitTemplate()"> ENVIAR
                <ion-icon slot="start" size="medium" name="checkmark-circle-outline"></ion-icon>
      
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" fill="outline" (click)="cancelarSolicitud()" color="danger" class="botones">
                Cancelar
                <ion-icon slot="end" size="medium" name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-card-content>

  </form>

</ion-content>

    