.text-small {
    --background: rgb(0, 0, 0);
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    font-size: 0.79rem;
  }
  
  .transparente {
    --background: rgba(0, 0, 0, 0);
    --border-color: rgba(0, 0, 0, 0);
    text-align: center;
  }
  
  ion-alert {
    --background: rgba(0, 0, 0, 0);
    --border-color: rgba(0, 0, 0, 0);
    text-align: center;
    //margin-left:auto;
    //margin-right: auto;
  }
  
  .botones {
    height: 40px;
    margin: 10px 5% 10px 5%;
    //background: #ffffff !important;
  }
  
  ion-icon.ojo_mostrar {
    font-size: 22px;
    vertical-align: middle;
    //float: right;
  }
  
  ion-icon.validar_ci {
    font-size: 26px;
    position:relative;
    left: -20px;
    //
  }
  
  ion-row{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
  }
  
  ion-card{
    border-bottom: 3px solid #004488 !important;
    border-top: 3px solid #004488 !important;
    border-left: 3px solid #004488 !important;
    border-right: 3px solid #004488 !important;
  }
  
  .titulo{
    border-bottom: 3px solid #004488 !important;
    cursor:pointer;
  }
  
  ion-fab ion-fab-button {
    animation: heartbeat 2s ease 6;
  }
    
  // ion-toolbar.toolbar-container.toolbar-content{
  //   background: #004488;
  //   border-radius: 20px;
  // }
  
  .select-full-width {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
  }

  .item-avatar{
    width: 125px;
    height: 125px;
    --border-radius: 10px;
    //margin: 5px;
    //text-align: center;
    //margin-left: 20px;
    margin-top: 0;
  }

  /*ion-input.input-foto {
    .native-input.sc-ion-input-ios {
      background: #971e49 !important;
  
    }
  }*/

  input.input-foto[type="file"] {
    //position: absolute;
    //z-index: -1;
    //top: 10px;
    font-size: 17px;
    //overflow: hidden;
    color: #b8b8b8;
    width: 120px !important;
  }
  
