  
  img {
    top: 0% !important;
    margin-top: 0% !important;
    height: 9rem !important;
  //  width: 120px !important;
    align-items: center;
  }
    
  
  .rounded {
    width: 100%;
    height: 3.5rem !important;
    border-radius: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem !important;
    font-size: 0.8rem !important;
  }
  
  .page-login {
    background: url(/assets/img/fondo-login.jpg) no-repeat center/cover fixed;
    font-family: "Montserrat", sans-serif;
    height: 100% !important;
  }
  
  .form-login {
    background: linear-gradient(90deg, #818182 0%, #071f3b 100%)!important;
    border-radius: 30px;
    font-size: 1rem !important;
    height: 90% !important;
    max-width: 500px;
    padding-top: 0% !important;
    margin: auto;
    color: #fff;
    text-align: center;
  }

  .fila-login{
    height: 100%;
  }
