
  <ion-card-content style="display: flex;">

    <div style="width: 2%; margin: 0px 5px 0px 0px;" [style.background]="aspirante.est_color"></div>

    <div style="width: 88%;">

      <ion-label>
        <ion-icon name="person-circle-outline"> </ion-icon>&nbsp;
        <b> {{aspirante.asp_nombre}} </b>
      </ion-label><br>
      <ion-label>cargo postulado: <i>{{aspirante.asp_cargo}}</i></ion-label><br>
      <ion-label>
        <ion-icon name="call"></ion-icon> {{aspirante.asp_telefono}} - Recomendado por {{aspirante.asp_referencia}}
      </ion-label><br>
      <ion-label>observaciones: {{aspirante.asp_observaciones}} </ion-label><br>
      <ion-label color="primary" style="font-size: 0.8rem;">ingresado el <b>{{aspirante.asp_fch_ingreso}}</b> &nbsp;
      </ion-label>
      <ion-label style="font-size: 0.8rem;" color="success">
        <ion-icon name="information-circle" style="font-size: 1.1rem; vertical-align: text-bottom;"></ion-icon>
        <i>{{aspirante.est_descripcion}}</i>
      </ion-label>

    </div>

    <div style="width: 10%;">

      <ion-button fill="clear">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>

    </div>

  </ion-card-content>
