<ion-card-content style="display: flex; width: 100%;" class="ion-no-padding">

  <div style="width: 20px; margin: 0px 5px 0px 0px; " >
    <ion-icon name="banner-item" [style.color]="aspirante.est_color" class="banner-item"></ion-icon>
  </div>

  <div style="width: 88%; margin: 0px;" class="ion-no-padding label-item">


    <ion-label class="ion-no-padding">
      <span >
        <ion-icon name="person-circle-outline" style="font-size: 1.3rem; margin: 0 0 -5px 0; padding: 0;"> </ion-icon>
        <b> {{aspirante.asp_nombre}} </b>
      </span><br>
      <span  > Cargo postulado: <i>{{aspirante.asp_cargo}}</i> </span><br>
      <span >
        <ion-icon name="call"></ion-icon> &nbsp;
        {{aspirante.asp_telefono}} - Recomendado por {{aspirante.asp_referencia}}
      </span><br>
      <span  > observaciones: {{aspirante.asp_observaciones}}
      </span> <br>
      <span  color="primary" style="font-size: 0.8rem;" >ingresado el <b>{{aspirante.asp_fch_ingreso}}</b> &nbsp;
        <ion-text color="success">
          <ion-icon name="information-circle" style="font-size: 1.1rem; vertical-align: text-bottom;"></ion-icon>
          <i>{{aspirante.est_descripcion}}</i>      
        </ion-text>
      </span>
    </ion-label>



  </div>

  <div style="width: 10%; text-align: center;" class="ion-align-items-center">

    <ion-button fill="clear">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>

    <ion-chip color="primary" mode="ios" outline="true" style="font-size: 0.9rem;">
      <ion-label> {{index+1}} </ion-label>
    </ion-chip>
  </div>

</ion-card-content>