.label-item {
    //margin: 50px 50px 0px 0px !important;
    //background: #000;
    //padding: 0;
    display: flex;
    line-height: 1.1rem;
    //bottom: 0px;
}

ion-avatar.item-avatar {
    //border: 2px solid var(--ion-color-medium);
    //margin-left: 10px;
    margin-bottom: 10px;
    --border-radius: 100px;
    width: 3rem !important;
    height: 3rem !important;
    --background-color: #fff;
    transition: transform 1s;

    img {
        //border-radius: 10px;
        // background: rgb(245, 0, 0) !important;
        // opacity: 0.5;
    }
}

.item-options-right {
    right: 0;
    /* justify-content: center; */
    display: inline-flex;
    height: 100%;
    /* width: auto; */
    position: absolute;
}

.item-label-index {
    font-size: 0.9rem;
    position: absolute;
    margin-top: 10px;
    right: 0.5rem;
    border-radius: 999px;
    background-color: #ffffffd0;
    text-align: center;
    width: 1.5rem;
    line-height: 1.5rem;
    transform: scale(1);
}

.item-footer {
    //background: #ffffffd0;
    height: 2rem;
    background: #d6d6d6;
    //background: var(--ion-color-light);
    display: flex;
}

.item-footer:hover {
    .item-footer-buttons {
        //background: #0000002c;
        visibility: visible;
        width: auto;
    }
    .item-footer-tooltip {
        visibility: visible;
    }
    .item-footer-label {
        visibility: hidden;
    }
    .item-footer-menu {
        background: #071f3b;
        border-radius: 10px 0px 0px 10px;
        color: #fff;
    }
}

.item-footer-label {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    //margin-left: 10px;
    display: flex;
    align-items: center;
}

.item-footer-tooltip {
    left: 5px;
    bottom: 5px;
    visibility: hidden;
    position: absolute;
    opacity: 0.7;
    font-weight: lighter;
    //display: flex;
    //align-items:flex-start;
}

ion-buttons {
    margin-right: 0px;
    margin-left: auto;
}

.item-footer-buttons {
    display: flex;
    visibility: hidden;
    width: 0;
}
