.text-small {
  --background: rgb(0, 0, 0);
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  font-size: 0.79rem;
}

.transparente {
  --background: rgba(0, 0, 0, 0);
  --border-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.botones {
  height: 40px;
  margin: 10px 5% 10px 5%;
  //background: #ffffff !important;
}

ion-icon.ojo_mostrar {
  font-size: 22px;
  vertical-align: middle;
  //float: right;
}

ion-icon.validar_ci {
  font-size: 26px;
  position: relative;
  // left: -20px;
  //
}

ion-row {
  // display: flex;
  // align-items: flex-end;
  // justify-content:flex-start;
  // height: 100%;
}

// ion-card {
//   border-bottom: 3px solid #004488 !important;
//   border-top: 3px solid #004488 !important;
//   border-left: 3px solid #004488 !important;
//   border-right: 3px solid #004488 !important;
// }

.titulo {
  border-bottom: 3px solid #004488 !important;
  cursor: pointer;
}

ion-fab ion-fab-button {
  animation: heartbeat 2s ease 6;
}

.fab-lista {
  text-align: left;
  align-items: start;
  ion-button{
    //background: var(--ion-color-warning);
  }
}
// ion-toolbar.toolbar-container.toolbar-content{
//   background: #004488;
//   border-radius: 20px;
// }

.select-full-width {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 0 !important;
}

* {
  // margin-right: 1px;
  // padding-left: 0.5em;
  padding-right: 0em;
  box-sizing: border-box;
  --border-color: #9d9da1;
}

.div-foto {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  //margin: 0.5vw 5px;
  width: 150px;
  height: 180px;
  padding: 5px;
  border: 1px solid #a4a4a4;
  // border-radius: 15px;
  cursor: pointer;
  ion-label {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    line-height: 1;
    background-color: #ffffffd0;
  }
}

.img-foto::part(image) {
  // image {
    border-radius: 15px;
    max-height: 170px;
    max-width: 140px;
  // }
}

.fab-add-foto {
  width: 80px !important;
  height: 80px !important;
}

.texto1 {
  font-size: 1.5rem;
  //margin-top: 10%;
}
.texto2 {
  margin-top: 10px;
  font-size: 1rem;
  font-style: italic;
  display: inline-flex;
  ion-spinner {
    margin-right: 5px;
  }
}

.content-loading {
  text-align: center;
  color: var(--ion-color-primary);
  font-weight: 500;
  background: #b96505a0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
}

.content-effect {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.img-loading {
  width: 40%;
  height: 60%;
  margin: auto auto 2rem auto;
  //margin-right: auto;
}

.example-full-width {
  width: 100%;
  // height: 10%;
  // background: #004488;
  padding-top: 0.5em;
  color: #071f3b;
}

.example-h2 {
  margin: 10px;
}

.col-toggle {
  //padding-top: 1.5em;
  margin: 1em 0px auto 0px;
}

.example-section {
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  padding: 0.75em 0em 1em 0.5em;
  margin-top: -0.5vh;
}

.example-margin {
  //margin: 10px;
  //display: block;
}

ion-icon {
  color: #071f3b;
  // --ionicon-stroke-width: 16px;
}

.fecha-entrevista {
  visibility: hidden;
  display: none;
}

// mat-label{
//   color: #071f3b;
// }

// ion-item{
//   --border-style: none;
// }

// input{
//   --border-style: none;
// }
