<ion-header>
  <ion-toolbar style="--background: #cfcfcf; height: 3rem;">

    <ion-breadcrumbs color="primary" slot="start" style="background: #ffffff90; border-radius: 20px 20px 0 0;">

      <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/inicio-home']" routerLinkActive="router-link-active">Inicio
      </ion-breadcrumb>
      <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/aspirante-home']" routerLinkActive="router-link-active">
        General
      </ion-breadcrumb>
      <ion-breadcrumb [routerLink]="['/inicio/tab-aspirante/principal-seguridad']"
        routerLinkActive="router-link-active">
        Seguridad Ocupacional
      </ion-breadcrumb>

    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>


<ion-content style="border-bottom: 10px solid #071F3B; border-top: 5px solid #071f3bd7;" scroll="false">

  <app-form-principal [departamento]="'segu'" [estado_nuevo]="8" (clicOpciones)="showOpciones($event)" ></app-form-principal>


</ion-content>