ion-textarea.custom-textarea {
  // --background: #373737;
  // --color: rgb(0, 0, 0);
  // --padding-end: 20px;
  // --padding-start: 20px;
  // --placeholder-color: rgb(179, 179, 179);
  // --placeholder-opacity: 0.8;
  // height: 13.2em;
}

.label-observacion {
  line-height: 15px;
  margin: 10px 0px;
  font-style: italic;
}
