ion-textarea.custom-textarea {
    --background: #f4f5f8;
    --color: rgb(0, 0, 0);
    --padding-end: 20px;
    --padding-start: 20px;
    --placeholder-color: rgb(179, 179, 179);
    --placeholder-opacity: 0.8;
    height: 14em;
  }