/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@ionic/angular/css/ionic-swiper";
// @import '~@ionic/core/dist/collection/components/popover/popover.ios.css';

// @import "~animate.css/animate.css";

@font-face {
  font-family: "Futura-bold";
  src: url(/assets/fonts/futura-bold.ttf);
  font-weight: 200;
  font-style: normal;
}
.submenu {
  border-radius: 0px;
  // border: 2px solid #071f3b !important;
  border-top: 5px solid #ffffff !important;
  border-bottom: 5px solid #ffffff !important;
}

.menu-item {
  border-radius: 5px;
}

.rojo,
.rojo .sc-ion-action-sheet-md {
  color: red !important;
}

ion-toggle {
  // --handle-spacing: 0px;
  // --handle-height: 100%;
  --handle-box-shadow: 0 3px 12px rgba(255, 0, 0, 0.6), 0 3px 1px #3246ff99;

  overflow: visible;

  contain: none;
}

ion-toggle.toggle-checked {
  --handle-box-shadow: 0 3px 12px rgba(50, 70, 255, 0.6), 0 3px 1px #3246ff99;
}

ion-fab:not(.no-estilo) ion-fab-button:not(.no-estilo){
  --background-hover: #5a50eb;
  cursor: pointer;
  margin-top: -10px;
  height: 50px;
  width: 50px;
}


// .no-estilo {
//   width: 100px;
//   height: 100px;
// }

.custom-loader-class {
  --background: linear-gradient(90deg, #373b44 1%, #373b4489 100%);
  --spinner-color: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
  color: #fff;
}

.my-modal-class {
  --backdrop-opacity: 0.2;
  background: linear-gradient(90deg, #373b44, #2d344221, #222d4021, #17263d21, #373b44);
  color: #fff;
  forced-color-adjust: #fff;
  align-items: center;
  justify-content: center;
  &::part(content) {
    min-width: 70%;
    margin: 10px;
    height: 95%;
    border-radius: 15px 15px 10px 10px;
  }
}

.action-sheet-th .action-sheet-group {
  --background: #fff;
  --backdrop-opacity: 0.2;
  --button-background-selected: #e97223;
  --button-color: #000000;
  --color: #ffffff0;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}

.action-sheet-th .action-sheet-title.sc-ion-action-sheet-md {
  background: top var(--ion-color-warning);
  text-align: center;
  color: rgb(0, 0, 0);
}

.action-sheet-wrapper.sc-ion-action-sheet-ios {
  background-attachment: fixed;
  // background: #071f3bf5;
}

// .native-textarea.sc-ion-textarea-md {
//   height: 13em;
//   background: #373737;
//   color: #fff;
//   --padding-end: 50px;
//   --padding-start: 20px;
//   --placeholder-color: #ddd;
//   --placeholder-opacity: 0.8;
//   border-radius: 5px;
// }

ion-alert.alertDuplicado {
  div.alert-wrapper {
    //--width: 500px !important;
    min-width: 400px !important;

    div.alert-head {
      background: #ce0000 !important;
      height: 80%;
      .alert-title {
        color: #fff !important;
      }
      .alert-sub-title {
        color: #fff !important;
        font-size: 0.8rem !important;
      }
    }

    div.alert-message {
      color: #ce0000 !important;
      font-size: 0.9rem !important;
      margin: 10px !important;
      padding: 0px !important;
      ion-item.item {
        //--background: #4286f4 !important;
        margin-bottom: 5px;
        color: var(--ion-color-primary);
        font-size: 0.9rem;
        ion-icon {
          color: var(--ion-color-warning);
          font-size: 2rem;
          padding: 0px;
          margin: 0px 10px 0px 0px; //arriba derecha abajo izquierda
        }
      }
      div {
        //--background: #4286f4 !important;
        display: flex;
        align-items: center;
        ion-icon {
          color: var(--ion-color-primary);
          font-size: 1.3rem;
        }
        ion-label {
          color: var(--ion-color-primary);
          margin-left: 5px;
          font-size: 0.8rem;
        }
      }
    }

    div.alert-button-group {
      align-items: center !important;
      //display: flex !important;
      button.btnAlertDplicado {
        width: 100% !important;
        height: 40px;
        //background-color: var(--ion-color-primary);
        margin: 0px 20px 0px 20px; //arriba derecha abajo izquierda
        border-radius: 10px;
        border: 2px solid var(--ion-color-warning) !important;
        justify-content: center !important;
        color: var(--ion-color-primary);
        span.alert-button-inner {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  //width: 400px;
}

ion-alert.alertOk {
  div.alert-wrapper {
    div.alert-head {
      background: var(--ion-color-success) !important;
    }

    div.alert-message {
      color: var(--ion-color-success) !important;
      ion-item.item {
        ion-icon {
          color: var(--ion-color-success);
        }
      }
    }

    div.alert-button-group {
      //display: flex !important;
      button.btnAlertDplicado {
        width: 50% !important;
        border: 2px solid var(--ion-color-success) !important;
        color: var(--ion-color-primary);
      }
    }
  }
}

ion-alert.alertExamenes {
  div.alert-wrapper {
    //--width: 500px !important;
    min-width: 400px !important;
    div.alert-head {
      // background: var(--ion-color-warning);
      height: 20%;
      text-align: center;
      .alert-title {
        color: #000000 !important;
      }
      .alert-sub-title {
        color: rgb(0, 0, 0) !important;
        font-size: 0.8rem !important;
      }
    }

    div.alert-message {
      color: var(--ion-color-primary) !important;
      font-size: 0.9rem !important;
      margin: 10px !important;
      padding: 0px !important;
      ion-item.item {
        //--background: #4286f4 !important;
        margin-bottom: 5px;
        color: var(--ion-color-primary);
        font-size: 0.9rem;
        ion-icon {
          color: var(--ion-color-warning);
          font-size: 2rem;
          padding: 0px;
          margin: 0px 10px 0px 0px; //arriba derecha abajo izquierda
        }
      }
    }

    div.alert-button-group {
      align-items: center !important;
      button.btnAlerAceptar {
        width: 40% !important;
        height: 40px;
        margin: 0px 20px 0px 20px; //arriba derecha abajo izquierda
        border-radius: 10px;
        justify-content: center !important;
        background-color: var(--ion-color-primary);
        color: #fff;
        span.alert-button-inner {
          display: flex;
          justify-content: center;
        }
      }
      button.btnAlertCancelar {
        width: 40% !important;
        height: 40px;
        border-radius: 10px;
        border-color: #f44336;
        color: red;
        span.alert-button-inner {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

ion-alert.alertMensaje ion-backdrop.sc-ion-alert-md.md.hydrated {
  opacity: 0 !important;
}

ion-alert.alertExamenes div.alert-wrapper div.alert-head {
  height: 20%;
  text-align: center;
  background: #ffcc01;
  color: #fff;
}

.btn-aut-examenes {
  color: #ce0000 !important;
  font-style: italic;
  //background: #3e56dd;
  ion-icon {
    visibility: hidden !important;
  }
}

.btn-psico-descargar {
  color: #ce0000 !important;
  font-style: italic;
  //background: #3e56dd;
  visibility: hidden !important;
  ion-icon {
    visibility: hidden !important;
  }
}

.card-aspirante {
  //box-shadow: 0px 0px 5px 2px #f50000;
  //border: 3px solid rgb(214, 0, 0);
  //width: 90%;
  //color: #071f3b;
  opacity: 0.7;
  display: list-item;
  margin-top: 1rem;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 1.5s;
}

.card-aspirante,
app-item-aspirante,
ion-item.item-aspirante::part(native) {
  //background: #071F3B;
  //color: #bebebe;
  -webkit-box-shadow: 0px 0px 3px 3px rgb(7 31 59 / 50%);
  -moz-box-shadow: 0px 0px 3px 3px rgb(7 31 59 / 50%);
  box-shadow: 0px 0px 0px 1px rgb(7 31 59 / 50%);
}

// .item-content {
//   // opacity: 0.7 !important;
//   //background: #000;
// }

.card-aspirante:hover,
.card-aspirante:focus {
  //box-shadow: 0px 0px 5px 2px #f50000;
  //border: 3px solid rgb(214, 0, 0);
  opacity: 1;

  transform: scale(1);
  app-item-aspirante,
  ion-label.card-item,
  ion-item.item-aspirante::part(native) {
    //background: linear-gradient(160deg, rgb(255, 219, 199) 15.07%, rgb(255, 196, 108) 95.3%);
    // background: linear-gradient(160deg, rgb(255, 219, 199) 15.07%, rgb(255, 204, 0) 95.3%);
    background: #071f3b;
    color: #fff;
    visibility: visible;
  }
  app-item-aspirante,
  ion-item.item-aspirante {
    // opacity: 1 !important;
    ion-label.item-label-index {
      //background: #fff;
      font-size: 1rem;
      //font-weight: bold;
    }
    .item-column-avatar {
      //background: #e19b0f9c;
      ion-avatar.item-avatar {
        transform: scale(1.2);
        //transform:var(--border-radius);
        --border-radius: 5px;
        //border: 2px solid #ffffffd0;
        //border-style:double ;
        //margin-top: 2px;
        //margin-bottom: 0px;
      }
    }
  }
  .item-footer {
    background: #e19b0f;
    //color: #fff;
  }
  //background: rgb(45, 134, 241);
}

ion-icon.banner-item {
  /* top: 0px; */
  /* left: -10px; */
  height: 4rem;
  width: 2.5rem;
  /* margin-top: 0; */
  margin-right: 0;
  margin-left: 0;
  margin-top: -1vh;
}

ion-skeleton-text:not(.no-estilo) {
  --background: var(--ion-color-warning);
  //background-color: rgb(255, 196, 9);
  --background-rgb: var(--ion-color-warning-rgb);
  background-color: rgba(255, 196, 9, 0.09);
  --border-radius: 10px;
}

.content-items {
  height: calc(85% - 1.5rem) !important;
  top: 4 * 1.5rem !important;
}

.iloading-data {
  background-image: url("assets/img/animation-circle.svg");
  background-color: #92949ca0;
  --backdrop-opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  align-items: flex-end;
  .loading-wrapper {
    display: contents;
    .loading-content {
      margin-bottom: 8%;
      //line-height: 1rem;
      text-align: center;
      color: var(--ion-color-primary);
      font-weight: 500;
      .texto1 {
        font-size: 1.5rem;
        //margin-bottom: 10px;
      }
      .texto2 {
        display: flex;
        font-size: 1rem;
        font-style: italic;
        margin-left: 1rem;
        ion-spinner {
          margin-right: 5px;
        }
      }
    }
  }
}

.swiper-medicina {
  display: inline-block !important;

  //height: 300px;

  // --bullet-background: rgb(var(--ion-color-primary-rgb), 0.5);
  // --bullet-background-active: var(--ion-color-primary);
  // --scroll-bar-background: var(--ion-color-light);
}

ion-alert.alertError div.alert-wrapper {
  border: 2px solid var(--ion-color-danger-shade);
  div.alert-head {
    height: 20%;
    text-align: center;
    .alert-title {
      color: #ffffff !important;
    }
  }
  div.alert-message {
    padding: 5px;
    margin: 5px 0px 0px 0px;
    color: #000000;
    display: flex;
    align-items: center;
    ion-icon {
      margin: 0px 5px 0px 5px;
      width: 64px;
      height: 64px;
      color: var(--ion-color-danger);
    }
  }
}

ion-alert.alertError div.alert-wrapper div.alert-head {
  height: 20%;
  text-align: center;
  background: var(--ion-color-danger);
  --color: #fff;
}

// .alert-head.sc-ion-alert-md {
//   background: #FFC075;
// }

// .alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
//   background: #FFC075;
// }

.sc-ion-alert-md-h {
  --max-width: 400px;
}

ion-datetime.multi {
  --background: #fff1f200;
  // --background: var(--ion-color-tertiary);
  --background-rgb: 255, 241, 242;
  --title-color: var(--ion-color-tertiary);
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-tertiary-rgb), 0.3) 0px 10px 15px -3px;
}

.popover-item {
  // display: inline-flex;
  background: #ffca22 !important;
  color: #000000 !important;
  font-size: 12px !important;
  //--height: 100%;
  //width: inherit;
  // border-radius: 5px;
  // align-items: center;
  // padding: 3px 10px 3px 5px;
  // margin: 5px;
  //left: 0;
  //--inner-padding-start: 0px;
}

.popover-header {
  // display: inline-flex;
  background: #ffca22 !important;
  color: #000000 !important;
  font-size: 12px !important;
  position: relative;
  left: 80%;
  max-width:50% !important;
}

.sc-ion-alert-ios-h.select-alert.multiple-select-alert {
  .alert-wrapper {
    // background: #555;
    min-width: 50%;
  }
}

