/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Futura-bold";
  src: url(/assets/fonts/futura-bold.ttf);
  font-weight: 200;
  font-style: normal;
}

.submenu {
  border-radius: 0px;
  // border: 2px solid #071f3b !important;
  border-top: 5px solid #ffffff !important;
  border-bottom: 5px solid #ffffff !important;
}

.menu-item {
  border-radius: 15px;
}

.rojo,
.rojo .sc-ion-action-sheet-md {
  color: red !important;
}

ion-toggle {
  // --handle-spacing: 0px;
  // --handle-height: 100%;
  --handle-box-shadow: 0 3px 12px rgba(255, 0, 0, 0.6), 0 3px 1px #3246ff99;

  overflow: visible;

  contain: none;
}

ion-toggle.toggle-checked {
  --handle-box-shadow: 0 3px 12px rgba(50, 70, 255, 0.6), 0 3px 1px #3246ff99;
}

ion-fab ion-fab-button {
  --background-hover: #5a50eb;
  cursor: pointer;
  margin-top: -10px;
  height: 50px;
  width: 50px;
}

.custom-loader-class {
  --background: linear-gradient(90deg, #373b44 1%, #4286f4 100%);
  --spinner-color: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
  color: #fff;
}

.my-modal-class {
  --backdrop-opacity: 0.2;
  background: linear-gradient(90deg, #373b441e, #4286f436 10%);
  color: #fff;
  forced-color-adjust: #fff;
  align-items: center;
  justify-content: center;
  &::part(content) {
    width: 50%;
    height: 80%;
  }
}

.action-sheet-th .action-sheet-group {
  --background: #fff;
  --backdrop-opacity: 0.2;
  --button-background-selected: #e97223;
  --button-color: #000000;
  --color: #ffffff0;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}

.action-sheet-th .action-sheet-title.sc-ion-action-sheet-md {
  background: top var(--ion-color-warning);
  text-align: center;
  color: rgb(0, 0, 0);
}

.action-sheet-wrapper.sc-ion-action-sheet-ios {
  background-attachment: fixed;
  // background: #071f3bf5;
}

.native-textarea.sc-ion-textarea-md {
  height: 13em;
  background: #373737;
  color: #fff;
  --padding-end: 50px;
  --padding-start: 20px;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;
}

ion-alert.alertDuplicado {
  div.alert-wrapper {
    //--width: 500px !important;
    min-width: 400px !important;

    div.alert-head {
      background: #ce0000 !important;
      height: 80%;
      .alert-title {
        color: #fff !important;
      }
      .alert-sub-title {
        color: #fff !important;
        font-size: 0.8rem !important;
      }
    }

    div.alert-message {
      color: #ce0000 !important;
      font-size: 0.9rem !important;
      margin: 10px !important;
      padding: 0px !important;
      ion-item.item {
        //--background: #4286f4 !important;
        margin-bottom: 5px;
        color: var(--ion-color-primary);
        font-size: 0.9rem;
        ion-icon {
          color: var(--ion-color-warning);
          font-size: 2rem;
          padding: 0px;
          margin: 0px 10px 0px 0px; //arriba derecha abajo izquierda
        }
      }
      div {
        //--background: #4286f4 !important;
        display: flex;
        align-items: center;
        ion-icon {
          color: var(--ion-color-primary);
          font-size: 1.3rem;
        }
        ion-label {
          color: var(--ion-color-primary);
          margin-left: 5px;
          font-size: 0.8rem;
        }
      }
    }

    div.alert-button-group {
      align-items: center !important;
      //display: flex !important;
      button.btnAlertDplicado {
        width: 100% !important;
        height: 40px;
        //background-color: var(--ion-color-primary);
        margin: 0px 20px 0px 20px; //arriba derecha abajo izquierda
        border-radius: 10px;
        border: 2px solid var(--ion-color-warning) !important;
        justify-content: center !important;
        color: var(--ion-color-primary);
        span.alert-button-inner {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  //width: 400px;
}

ion-alert.alertExamenes {
  div.alert-wrapper {
    //--width: 500px !important;
    min-width: 400px !important;
    div.alert-head {
      // background: var(--ion-color-warning);
      height: 20%;
      text-align: center;
      .alert-title {
        color: #000000 !important;
      }
      .alert-sub-title {
        color: rgb(0, 0, 0) !important;
        font-size: 0.8rem !important;
      }
    }

    div.alert-message {
      color: var(--ion-color-primary) !important;
      font-size: 0.9rem !important;
      margin: 10px !important;
      padding: 0px !important;
      ion-item.item {
        //--background: #4286f4 !important;
        margin-bottom: 5px;
        color: var(--ion-color-primary);
        font-size: 0.9rem;
        ion-icon {
          color: var(--ion-color-warning);
          font-size: 2rem;
          padding: 0px;
          margin: 0px 10px 0px 0px; //arriba derecha abajo izquierda
        }
      }
    }

    div.alert-button-group {
      align-items: center !important;
      button.btnAlerAceptar {
        width: 40% !important;
        height: 40px;
        margin: 0px 20px 0px 20px; //arriba derecha abajo izquierda
        border-radius: 10px;
        justify-content: center !important;
        background-color: var(--ion-color-primary);
        color: #fff;
        span.alert-button-inner {
          display: flex;
          justify-content: center;
        }
      }
      button.btnAlertCancelar {
        width: 40% !important;
        height: 40px;
        border-radius: 10px;
        background-color: var(--ion-color-danger);
        color: #fff;
        span.alert-button-inner {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

ion-alert.alertMensaje ion-backdrop.sc-ion-alert-md.md.hydrated {
  opacity: 0 !important;
}

ion-alert.alertExamenes div.alert-wrapper div.alert-head {
  height: 20%;
  text-align: center;
  background: greenyellow;
  color: #fff;
}

.btn-aut-examenes {
  color: #ce0000 !important;
  font-style: italic;
  //background: #3e56dd;
  ion-icon {
    visibility: hidden !important;
  }
}

.btn-psico-descargar {
  color: #ce0000 !important;
  font-style: italic;
  //background: #3e56dd;
  visibility: hidden !important;
  ion-icon {
    visibility: hidden !important;
  }
}

.card-aspirante {
  //box-shadow: 0px 0px 5px 2px #f50000;
  //border: 3px solid rgb(214, 0, 0);
  width: 90%;
  display: list-item;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  //background: transparent;
  cursor: pointer;
  transition: transform 1.5s;
}

.card-aspirante,
app-item-aspirante,
ion-item.item-aspirante::part(native) {
  background: linear-gradient(145deg, rgb(252, 252, 252) 0.9%, rgb(221, 221, 221) 97.54%);
}

.item-content {
  opacity: 0.7 !important;
  //background: #000;
}

.card-aspirante:hover {
  //box-shadow: 0px 0px 5px 2px #f50000;
  //border: 3px solid rgb(214, 0, 0);

  transform: scale(1.05);
  app-item-aspirante,
  ion-item.item-aspirante::part(native) {
    //background: linear-gradient(160deg, rgb(255, 219, 199) 15.07%, rgb(255, 196, 108) 95.3%);
    background: linear-gradient(160deg, rgb(255, 219, 199) 15.07%, rgb(255, 204, 0) 95.3%);
    //visibility: visible !important;
  }
  app-item-aspirante,
  ion-item.item-aspirante,
  .item-content {
    opacity: 1 !important;
    ion-avatar.item-avatar {
      transform: scale(1.2);
      margin-top: 2px;
      margin-bottom: 0px;
    }
    .banner-item {
      //margin-left: 0px;
      transform: scale(1.2);
      //position: fixed;
    }
  }
  //background: rgb(45, 134, 241);
}

ion-icon.banner-item {
  top: 0px;
  left: -5px;
  position: absolute;
  //line-height: 0rem;
  font-size: 3rem;
}


ion-skeleton-text{
  --background: var(--ion-color-warning); 
  //background-color: rgb(255, 196, 9);
  --background-rgb: var(--ion-color-warning-rgb);
  background-color: rgba(255, 196, 9, 0.09);
  --border-radius: 10px;
}
