<!-- <ion-select interface="action-sheet" mode="ios" placeholder="Seleccione uno" [(ngModel)]="cargo.nombre"
  name="cargoAspirante"  required>
  <ion-select-option *ngFor="let item of cargos">{{item.nombre}}></ion-select-option>
</ion-select> -->

<ion-searchbar placeholder="Buscar cargo..." inputmode="decimal" type="decimal" (ionChange)="buscarCargo()"
  [debounce]="500" showCancelButton="always" [(ngModel)]="txtBusqueda" id="input-buscar" class="ion-text-uppercase">

</ion-searchbar>
<ion-content>

  <ion-list>
    <ion-radio-group [value]="cargo.car_id" >

      <ion-item *ngFor="let item of filterList" (click)="setCargo(item)" class="item-cargo">
        <ion-label style="font-size: 1rem;">{{item.car_nombre}} - {{item.car_area}}</ion-label>
        <!-- <ion-chip color="primary" mode="ios" outline="true">
          <ion-label>{{item.area}}</ion-label>
        </ion-chip> -->
        <ion-radio slot="end" [value]="item.car_id" sele></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

</ion-content>

<ion-footer class="ion-padding" [translucent]="true" mode="md">
  <ion-toolbar>
    <!-- <ion-title>Footer</ion-title> -->
    <div style="display: flex;">
      <ion-button color="danger" (click)="cerrarModal(false)" fill="outline" >
        Cancelar
      </ion-button>
      <ion-button style="width: 100%;" (click)="cerrarModal(true)" expand="block" fill="solid">
        Aceptar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
