<ion-grid style="height: 100%;" class="ion-no-padding">
  <ion-row style="height: 100%;">

    <ion-col size="9">
      <ion-content scroll-y="false">

        <ion-toolbar style="display:flex;" color="light">

          <ion-radio-group [value]="estado.id" style="display: block; width: 100%;">

            <ion-item style="--background: transparent; padding-top: 0; padding-bottom: 0;">

              <ion-chip mode="ios" [class]="estado.id==estado_nuevo?'chip-estado-select':'chip-estado'"
                (click)="listarAspirantes(estados[0])" [hidden]="departamento=='tthh' && estados[0].id>2">
                <ion-badge color="success" mode="ios" style="margin-right: 0.3rem; padding: 2px 5px;">
                  {{numNotificaciones}}
                </ion-badge>
                <ion-label color="primary">EN ESPERA</ion-label>
                <ion-radio [value]="estado_nuevo" color="primary" hidden
                  style="margin: 0px 0px 5px 10px; height: 2rem;"></ion-radio>
              </ion-chip>

              <ion-chip mode="ios" [class]="estados[1].id===estado.id?'chip-estado-select':'chip-estado'"
                (click)="listarAspirantes(estados[1])">
                <ion-badge color="primary" mode="ios" *ngIf="estados[1].id == estado.id"
                  style="margin-right: 0.3rem; padding: 2px 5px;"> {{listaTareas.length}}
                </ion-badge>
                <ion-label>APROBADOS</ion-label>
                <ion-radio [value]="estados[1].id" color="primary" hidden
                  style="margin: 0px 0px 5px 10px; height: 2rem;"></ion-radio>
              </ion-chip>

              <ion-chip mode="ios" [class]="estados[2].id==estado.id?'chip-estado-select':'chip-estado'"
                (click)="listarAspirantes(estados[2])" [hidden]="[8,10,12].includes(estado_nuevo)">
                <ion-badge color="danger" mode="ios" *ngIf="estados[2].id == estado.id"
                  style="margin-right: 0.3rem; padding: 2px 5px;"> {{listaTareas.length}}
                </ion-badge>
                <ion-label>NO APROBADOS</ion-label>
                <ion-radio [value]="estados[2].id" color="primary" hidden
                  style="margin: 0px 0px 5px 10px; height: 2rem;"></ion-radio>
              </ion-chip>

              <ion-chip slot="end" [hidden]="estado.id!=estados[1].id && estado.id!=1" (click)="mostrarHistorial()"
                class="chip-historial" [disabled]="loadingData">
                <ion-checkbox mode="ios" [checked]="estado.historial" class="check-historial"
                  defaultPrevented="true"></ion-checkbox>
                <ion-label color="primary">Historial</ion-label>
              </ion-chip>

              <ion-button (click)="cambiarVista()" slot="end" fill="clear">
                <ion-icon slot="icon-only" [name]="viewList?'list':'grid'"></ion-icon>
              </ion-button>

            </ion-item>

          </ion-radio-group>



        </ion-toolbar>


        <ion-content forceOverscroll="true" style="max-height: calc(90% - 2vh);">

          <ion-row class="ion-no-padding">

            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="6" sizeXl="6"
              *ngFor="let item of aspirantesNuevo; let i = index" class="ion-no-padding">

              <ion-card class="card-aspirante">
                <app-item-aspirante [aspirante]="item" [index]="i+(contPagina*(this.viewList?12:6))"
                  (clicOpciones)="aspiranteOpciones(item)" [lista]="viewList" class="item-content">
                </app-item-aspirante>
              </ion-card>

            </ion-col>


            <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="6" sizeXl="6" *ngFor="let item of [1,2,3]"
              [hidden]="!loadingData" class="ion-no-padding">

              <ion-card  class="card-loading">
                <ion-skeleton-text animated [style.opacity]="1-(item*0.2)" style="width: 100%; position: absolute; height: 100%; margin: 0;"></ion-skeleton-text>
                <app-loading-aspirante [lista]="viewList"></app-loading-aspirante>
              </ion-card>

            </ion-col>

          </ion-row>


          <ion-item style="margin: 10px; font-style: italic; background: transparent !important;"
            *ngIf="(aspirantesNuevo.length==0 && !loadingData)">
            <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
            <ion-label style="margin-left: 10px;">No hay tareas pendientes</ion-label>
          </ion-item>

          <ion-row>
            <ion-col size="12" style="height: 50px;"></ion-col>
          </ion-row> 

        </ion-content>

        <ion-buttons style="background: #ffffffcd; position: sticky; bottom:0;">
          <ion-button class="footer" (click)="updatePagina(-1)" slot="icon-only" color="primary" fill="clear"
            [disabled]="contPagina<1">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
          <ion-label color="primary">{{contPagina+1}}/{{numPaginas}}</ion-label>
          <ion-button class="footer" (click)="updatePagina(1)" slot="icon-only" color="primary" fill="clear"
            [disabled]="(contPagina+1)*(this.viewList?12:6)>=listaTareas.length">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-content>

    </ion-col>


    <ion-col size="3"
      style="background: rgba(217, 217, 217, 0.3) !important; display: flow-root; border: 2px ridge #ffffffcd; "
      class="">

      <app-buscar-aspirante [departamento]="'medicina'"></app-buscar-aspirante>

    </ion-col>

  </ion-row>
</ion-grid>